[2021-04-20 17:38] ProCode2 opened #1 "Columns from oxygen table."
- Person Name.
 - Phone no.
 - Description
 - Company name
 - Souce Name
 - Source Link

[2021-04-20 17:41] ProCode2 opened #2 "Columns for Hospital table."
- Name
- description
- email(optional)
- source
- source url
- verification status
- Master data verification

[2021-04-20 19:27] khavinshankar opened #3 "Ambulance data"
**Columns**

- State
- District
- Name
- Phone1
- Phone2 _(mostly empty)_
- Source _(mostly empty)_
- Area

[2021-04-20 23:31] ProCode2 opened #4 "Edit top nav(tailwind component) to have meaningful, relevant links."

[2021-04-21 08:10] divyagar opened #5 "Automated commit messages from github actions should include date and time."
I have tried `git commit -m "Some message $(date +'%d-%m-%y %T')"` and it fails for some reason, works on my machine.

[2021-04-21 09:04] abhinandanarya06 opened #6 "Link to suggested State & District in search bar not working..."
## Issue:
When without typing anything and just clicking on suggestion, link to suggested state & district in search bar doesn't working working. Instead after click, it removes the suggestion component.

![image](https://user-images.githubusercontent.com/52771399/115527324-930c5400-a2ae-11eb-8023-c733ac14f2b0.png)

### Steps to reproduce:
1. Go to [`https://life.coronasafe.network/`](https://life

[2021-04-21 11:54] #6 closed

[2021-04-22 05:15] MadHatter92 opened #7 "Hospital Data Not Linked"
The hospital data is not currently linked

[2021-04-22 17:23] Deep-Codes opened #9 "build's css seems to be very bloated"
Check the : [The Build CSS](https://life.coronasafe.network/_next/static/css/491fd2130f24e2c92500.css)

<img width="487" alt="Screenshot 2021-04-22 at 10 52 40 PM" src="https://user-images.githubusercontent.com/61158210/115759064-73b01c80-a3bd-11eb-85f0-b66687ca93fe.png">

[2021-04-22 18:02] ProCode2 opened #10 "Helplines pages showing 404 even when data is present."
Helplines data can't be accessed. Throwing 404 not found.

[2021-04-22 18:03] #1 closed

[2021-04-22 18:03] #2 closed

[2021-04-22 18:05] #3 closed

[2021-04-22 18:05] #4 closed

[2021-04-22 18:57] #10 closed

[2021-04-22 19:28] ProCode2 commented on #9
Is this because of tailwind not purging unused CSS? @Deep-Codes
[code]

[2021-04-22 20:15] bodhish commented on #7
This is working now.

[2021-04-22 20:15] #7 closed

[2021-04-23 00:03] Deep-Codes commented on #9
<img width="711" alt="Screenshot 2021-04-23 at 5 33 35 AM" src="https://user-images.githubusercontent.com/61158210/115799142-762e6880-a3f5-11eb-80ca-133d9367995c.png">

🚀

[2021-04-23 00:26] Deep-Codes commented on #9
But idk why it removes the Colors:

<img width="1033" alt="Screenshot 2021-04-23 at 5 55 09 AM" src="https://user-images.githubusercontent.com/61158210/115800580-88f66c80-a3f8-11eb-949f-1babf9868ff1.png">

[2021-04-23 01:14] Deep-Codes commented on #9
Possible Reason:

<img width="872" alt="Screenshot 2021-04-23 at 6 42 12 AM" src="https://user-images.githubusercontent.com/61158210/115803687-0b822a80-a3ff-11eb-93e1-02fe2f4ebb4e.png">

https://tailwindcss.com/docs/optimizing-for-production

We have used this ->

https://github.com/coronasafe/life/blob/dacb9bdf9a0ac44b551ff224c610dccb84b356a2/components/TabLinks.js#L21

[2021-04-23 01:48] MadHatter92 opened #14 "Display phone numbers"
Can we add the phone number to the result? Currently there is no easy way for me to know the number on a desktop browser

[2021-04-23 02:15] Deep-Codes commented on #9
Got it Would Create a PR soon! ✅

[2021-04-23 03:10] bodhish commented on #14
Fixed in #13

[2021-04-23 03:26] karmakoder commented on #14
gonna to screenshot this. Apna first PR that ye 😄 . On a serious note, back to work.

[2021-04-23 05:37] bodhish opened #16 "Align breadcrumbs to the left"
Kepp the breadcrumbs on the left side for all pages.

![image](https://user-images.githubusercontent.com/14979190/115823405-efdd4b00-a423-11eb-97d4-c0cdc0283154.png)

[2021-04-23 05:42] bodhish opened #17 "Bring down the action button on mobile screen"
The UI is breaking for some fields.
It would be safer to use `flex flex-col md:flex-row` so that the UI won't break in smaller screens.

https://life.coronasafe.network/kerala/pathanamthitta/helpline

![image](https://user-images.githubusercontent.com/14979190/115823688-624e2b00-a424-11eb-9ec7-f8dd524edfaf.png)

[2021-04-23 05:45] bodhish opened #18 "Add dark mode"
Not a priority but it would cool to have a dark mode for the UI.

It could be easily implemented using [tailwindcss dark mode helper](https://tailwindcss.com/docs/dark-mode)

[2021-04-23 06:07] bodhish opened #19 "Create a data page"
Create a new page /data and add the following

What to do if you have verified data and want to add to the database?

Fill information these forms based on resource type if you have less than 10 contacts.

 Oxygen - https://airtable.com/shrjYwvwPhPY6h6Hw
 Ambulance - https://airtable.com/shrAO7oA9qwh1OABJ
 Hospital - https://airtable.com/shrfZV2enmY9wge0F
 Helpline - https://airtable.com/shruCmaVN

[2021-04-23 06:35] #17 closed

[2021-04-23 06:55] #9 closed

[2021-04-23 07:08] shrihari689 commented on #19
📌

![image](https://user-images.githubusercontent.com/57325503/115832732-dbec1600-a430-11eb-8ba6-60f1d841e7f2.png)

[2021-04-23 07:18] #16 closed

[2021-04-23 07:24] shrihari689 commented on #16
Fixed in  e312530c255c5d255041b1dee66bfe6360bc2e19 596fb0395fe2a068acc48e79bf5f5213f7cbbc6b 445cdae18fb1879c2b87b30901d22d4373fa3322 22ef6deb3db5f8f8c3446639f9240cdd638c6787  📍

[2021-04-23 08:22] bodhish opened #20 "Add a label source for source link"
Add a label `source` for source links. It will be super helpful for normal users to figure out

![Screenshot_20210423-134836__01__01](https://user-images.githubusercontent.com/14979190/115841812-ce3b8e00-a43a-11eb-995e-a4fac399801a.jpg)

[2021-04-23 08:26] bodhish opened #21 "Add share to social links"
It would be super helpful if users could share the links to social media apps in a click.

[2021-04-23 09:04] peeyush14goyal commented on #20
@bodhish  There are two fields Source and Source Link in some files so added Source Link.
Made the changes and are in Pull Request #22

[2021-04-23 09:06] bodhish commented on #20
Looks good @peeyush14goyal

[2021-04-23 11:09] #20 closed

[2021-04-23 11:16] bodhish opened #23 "Make required changes to be qualified for Vercel OSS plan"
Sponsorship Criteria
There are some minor criteria that are required to be fulfilled before Vercel can sponsor your project, these are listed below:

 - [x] The project should be non-commercial.
 - [x] The project should be open source.
 - [x] The project should be static rather than server-rendered.
 - [x] The project should not be related in any way to cryptocurrency.
 - [ ] A Vercel banner in t

[2021-04-23 13:07] shrihari689 commented on #19
Closing this as of c8b4c15 📍

[2021-04-23 13:07] #19 closed

[2021-04-23 13:31] #23 closed

[2021-04-23 13:50] ProCode2 commented on #21
@Deep-Codes done with this one?

[2021-04-23 13:52] Deep-Codes commented on #21
Starting it now

[2021-04-23 14:01] karmakoder opened #27 "Sort data on the cards by verified flag."
Simran Soni  9:21 AM
Can we prioritize showing verified cards first? Since PPL are getting frustrated with switched off numbers? Like show them on top?

[2021-04-23 14:40] bodhish opened #28 "Add link to home page"
Add a link to the homepage on the home icon

![image](https://user-images.githubusercontent.com/14979190/115887690-cd711f00-a46f-11eb-9cbb-2d3836308bae.png)

[2021-04-23 14:51] karmakoder commented on #27
this issue is being worked on by @rawris

[2021-04-23 14:59] shrihari689 commented on #28
Isn't this already done ? 🤔https://life-coronasafe.vercel.app/maharashtra/kolhapur/medicine
I am able to click 📍

[2021-04-23 15:41] karmakoder commented on #28
works for me too @shrihari689 @bodhish.

[2021-04-23 17:38] bodhish opened #30 "Create an About page"
About page design could be inspired from https://www.covid19india.org/about

# content
----------------
## Are you official?
No.

## What are your sources? How is the data gathered for this project?
We are using multiple sources to obtain data. Our internal volunteer team scouts for data from circulars, notices, tweets, other databases, websites. We also obtain significant data from crowdsourced c

[2021-04-23 17:56] bodhish opened #32 "Inner pages are losing all js actions on load if the link is directly loaded"
Example https://life.coronasafe.network/delhi_(nct)

[2021-04-23 18:33] Deep-Codes commented on #32
Doesn't seem to be a Problem with Vercel Deploys

Example: https://test-coronsafe-life.vercel.app/chhattisgarh

[2021-04-23 18:35] Deep-Codes opened #33 "phone numbers displayed in varied forms"
<img width="300" alt="Screenshot 2021-04-24 at 12 04 30 AM" src="https://user-images.githubusercontent.com/61158210/115915266-bbec3f00-a490-11eb-967f-6e12f4285322.png">

Link: https://life.coronasafe.network/maharashtra/mumbai_city/ambulance

[2021-04-23 18:56] Mukulbaid63 commented on #30
@bodhish Can i take it?

[2021-04-23 18:59] bodhish commented on #30
Sure

[2021-04-23 19:32] karmakoder commented on #33
Saw these issues with data entry. Anyway to prevent this happening in airtable?

[2021-04-23 19:34] karmakoder commented on #32
![Screen Shot 2021-04-23 at 3 33 12 PM](https://user-images.githubusercontent.com/5466439/115921405-6f314580-a449-11eb-9fbc-3f33e32fcc5f.png)

[2021-04-23 19:36] karmakoder commented on #27
Fixed as part of https://github.com/coronasafe/life/pull/29

[2021-04-23 19:36] #27 closed

[2021-04-23 19:37] #14 closed

[2021-04-23 19:54] shubhSaxena opened #35 "under city name, non clickable boxes are highlighted while clickable boxes seems like disable in dark mode [Low priority]"
Steps-
1. open site in dark mode
2. click on any state
3. not clear which ones are active and which ones are disable boxes, under city name
4. active and non active look like they are interchanged.
<img width="1407" alt="Screenshot 2021-04-24 at 1 16 34 AM" src="https://user-images.githubusercontent.com/9431863/115923313-adefeb80-a49b-11eb-9d58-583985cca864.png">
<img width="1433" alt="Screenshot

[2021-04-23 20:12] viksit commented on #33
yes, you can use this: https://community.airtable.com/t/standard-formatting-for-phone-numbers/23684

@karmakoder

[2021-04-23 20:23] hectarV commented on #33
@karmakoder who is looking into this ?

[2021-04-23 20:27] Deep-Codes commented on #35
yeah i am looking into the issue prev it showed colors for those which were active.

[2021-04-23 20:45] tomahawk-pilot opened #36 "service worker and pwa"
lets add a service worker and make life a pwa
https://dev.to/josedonato/adding-a-service-worker-into-your-next-js-application-1dib
https://itnext.io/pwa-with-next-js-create-next-app-in-2020-%EF%B8%8F-9ee0e1a6313d

[2021-04-23 20:48] Deep-Codes commented on #35
@shubhSaxena Check now https://life.coronasafe.network/uttar_pradesh

[2021-04-23 20:50] tomahawk-pilot opened #37 "meta tags"
lets add proper meta tags for seo
refer : https://care.coronasafe.network

[2021-04-23 20:52] tomahawk-pilot commented on #36
are you taking this @Deep-Codes  ? or should i do it

[2021-04-23 20:55] Deep-Codes commented on #36
You take it , I would work on the `meta tags` one

[2021-04-23 20:56] tomahawk-pilot commented on #36
ok

[2021-04-23 21:29] Deep-Codes commented on #28
Works Now!

[2021-04-23 21:29] #28 closed

[2021-04-23 21:43] #36 closed

[2021-04-23 22:20] vandanabhandari commented on #32
looks like this issue is already fixed @karmakoder plz verify and close.

[2021-04-23 22:23] Deep-Codes commented on #32
Yes It's fixed Now 🎉🚀

Closing.

[2021-04-23 22:24] #32 closed

[2021-04-23 22:27] Deep-Codes commented on #21
Shareable Links Added:

- [x] Twitter
- [x] LinkedIN
- [x] Facebook
- [ ] Copy to Clipboard

[2021-04-23 22:32] chicksim opened #39 "Partner with us section needed on Collect data page or home page"
How about a 'Partner/Collaborate with Us' icon or section on the home page. This is priority as any initiative if it lands our home page will know that we are actively looking for partners to share data! Not sure about the visualisation of it though. plz recommend ideas?

_Content is below:_

### Are you a similar initiative like ours? or know one?
Run by your company, friends, college, on social

[2021-04-23 22:36] chicksim opened #40 "STATS display on home page"
A dynamic counter ticker kind of simple UI design  on the gap between footer and states that shows:

3178 Hospitals   452 Ambulance
466 verified         23 verified

This will show the scale of the data that we have. And we would be transparent too on how much more is left to be verified. May be this would nudge ppl to join us, giving them a sense of feel that - ok they need help with verification

[2021-04-23 22:39] #35 closed

[2021-04-23 22:39] karmakoder commented on #39
+1 for this. Wondering what wud be call to action and where wud it lead a user? Do we have manpower to give this to a group within life? That group gets on a call or chat wid anyone who avails this and guides them to volunteer for some area of life?

[2021-04-23 22:43] chicksim opened #41 "Pending for verification cards could become tasks using automation?"
Mark all the data on airtable that has blank or not verified status as pending for verification. Use some automation to create cards/tasks like freshdesk or Jira or something.

Ideas:
1. On airtable auto assign it to people. So that every day they know these are the numbers we are verifying
2. Even if we don't assign, have a task page where we see only unverified contacts. Then verification can ha

[2021-04-23 22:46] chicksim opened #42 "Verified+Available confident data to immediately pushed on social media with links"
Automate -
After a data row is added & verified for availability. Zapier could make a list of such entries in a particular resource-city combination, and push tweets, telegram posts. with our website link

It will act as a real time newsletter/update mechanism on twitter. They would know what new data is available. Where is bed available now. Where is oxygen available.

[2021-04-23 22:53] chicksim opened #43 "Add more fields to cards that we are collecting for some resources"
Eg.  new fields that we are collecting and would be super helpful to show. Could we find a way to show this. A simpler way would be to merge all this information together in a string under description (concatenate kinda)

**Hospital -**
Type of Hospital
Verifier_Comment - Instructions, guidelines, latest update available from hospital
Sub category of hospital- what type of hospital this is
Availab

[2021-04-23 22:56] chicksim opened #44 "Rows added through form (crowdsource) to have a default 'Pending for verification' selected"
Rows added through form (data stream) will have a 'Pending for verification' default select under verification status column, such that we know that the following entries have been added through public form - crowdsource. And need to be approached differently

[2021-04-23 22:59] chicksim opened #45 "Prevent people from filling blank forms or miscreant forms (crowdsource)"
Cases

1. since no field is mandatory, ppl may go on filling blank forms. It will push more blank rows on that table.
2. ppl may just write dfjkfhoaidfjoaifj 02348719-32478 on the fields and cause issue

can we prevent it at the form submission or before airtable entry or before frontend? such that either it doesn't get added to airtable at all, or at least doesn't show on the website.

[2021-04-23 23:04] Deep-Codes opened #46 "layout break on small screen"
Link: https://life.coronasafe.network/uttarakhand/dehradun/hospitals

<img width="542" alt="Screenshot 2021-04-24 at 4 32 18 AM" src="https://user-images.githubusercontent.com/61158210/115937745-33809500-a4b6-11eb-817e-e22c9a0802c3.png">

[2021-04-23 23:05] karmakoder commented on #33
thats a good tag to add @Deep-Codes. BTW can u help me with access so i can triage open issue? am still not able to assign among our group of devs.

[2021-04-23 23:07] Deep-Codes commented on #33
Since you're a member you have access to assign people to issues. 🤔

[2021-04-23 23:20] karmakoder commented on #33
Do the people need to be member of the group/repo? I tried assigning to @kashyapshankhavara and @rawris but cudnt. Wonder what am missing @Deep-Codes.

[2021-04-23 23:33] utsavshah1793 commented on #42
Airtable also has a built-in functionality to do these automations. Can explore that too.
This is pretty light on engineering work as well.

[2021-04-23 23:36] utsavshah1793 opened #47 "Automated Whatsapp Chats for Volunteers for verification"
Created this friendly google-doc which volunteers can use
It will dynamically generate whatsapp-chat links and help them send messages at a very quick pace
https://docs.google.com/spreadsheets/d/1h1ZnRvnmbg8O1dUY-Wiv0EVbyo7IavCHOB89eZG73DE/edit#gid=0

[2021-04-23 23:37] Deep-Codes commented on #33
@kashyapshankhavara and @rawris haven't commented here so they don't come up in the list.

As you can see 2 people can be added as they have commented above

<img width="324" alt="Screenshot 2021-04-24 at 5 06 22 AM" src="https://user-images.githubusercontent.com/61158210/115939156-d20ef500-a4ba-11eb-85a7-de9d4fc244f2.png">

Also if the person is a member he/she can be added to the issue regardles

[2021-04-23 23:50] karmakoder commented on #33
@hectarV no one from our team has picked this one yet. Wud u like to?

[2021-04-23 23:53] #18 closed

[2021-04-24 00:26] Deep-Codes commented on #21
Try this way instead: https://github.com/covid19india/covid19india-react/pull/2412/

[2021-04-24 00:52] karmakoder commented on #43
@bodhish @tomahawk-pilot @Deep-Codes plz advise how we can view the json datamodel behind the API calls to fix this issue. Looks like on local we are just using data from the static json files and the API_KEY is correctly obfuscated now. <insert scratching head emoji here> 😄

[2021-04-24 01:20] svadwlas commented on #45
@chicksim I was thinking of looking into this issue.

But some of the links to the airtable forms are giving potential risk warning.
A plugin on my Chrome has designated it as malware.
![1](https://user-images.githubusercontent.com/29953654/115942722-9d2e7e00-a479-11eb-8227-0ccdd3720ae5.PNG)

[2021-04-24 01:24] svadwlas commented on #45
Chrome (on my Android)  is blocking some of the links in our cards as potential malware

[2021-04-24 01:38] vandanabhandari commented on #5
Added https://github.com/coronasafe/life/pull/48 if you need this

[2021-04-24 03:17] divyagar commented on #46
Fixed https://github.com/coronasafe/life/commit/3397250a7f05086f3791603b75253f46e473ceb4

[2021-04-24 03:17] #46 closed

[2021-04-24 04:54] bodhish commented on #43
@divyagar

[2021-04-24 04:55] bodhish commented on #45
You will need to enable validations on airtable. It's not an FE issue

[2021-04-24 04:56] #45 closed

[2021-04-24 04:57] bodhish commented on #39
This looks like a duplicate issue. Already addressed in about

[2021-04-24 05:01] bodhish commented on #42
This can be done via airtable.

[2021-04-24 05:04] bodhish opened #50 "Order districts alphabetically"
The state's show page should order districts alphabetically.

[2021-04-24 05:28] divyagar commented on #43
@bodhish @karmakoder I have added new fields in json.

[2021-04-24 05:31] hareshpatel1990 opened #51 "Need Formatting Fixes"
![image](https://user-images.githubusercontent.com/13939918/115948530-41e9a380-a4ec-11eb-893b-0eb6dbe20260.png)

[2021-04-24 05:36] #50 closed

[2021-04-24 06:42] abhinandanarya06 commented on #51
Hmm,
This was due to `phone` and `email` being `null`. UI still need some refactoring. Can you check it again? Any suggestion on how to show UI card are welcomed :)

[2021-04-24 07:49] bodhish opened #52 "Add link to covid19india.org"
Please add a link to covid19india.org. Is can we right below the list of states.

[2021-04-24 07:55] chicksim commented on #41
something like freshdesk/freshworks tickets or Jira tasks or Mturk kind of a thing? This is to keep verification activities and database addition different. There is merit in this. People see only the card they need to verify. and can move on to the next task. We can reward them with - Ok Simran verified 50 contacts today. Leaderboard.

[2021-04-24 08:04] bodhish opened #53 "Dont show verified status for non verified request."
Can we say `Checked on` instead of `verified`, for the yellow marked ones

![image](https://user-images.githubusercontent.com/14979190/115952053-a5320080-a501-11eb-9472-9542e197bfba.png)

[2021-04-24 08:22] tomahawk-pilot opened #55 "convert site into an AMP"
refer : https://nextjs.org/docs/api-reference/next/amp

[2021-04-24 08:28] Deep-Codes commented on #52
Added via 6fe95650db016bf17318fd4050460f7b265c8920

[2021-04-24 09:04] #52 closed

[2021-04-24 09:13] Deep-Codes commented on #37
Todo

- [] meta title , description for [states] , [districts]

[2021-04-24 09:26] ProCode2 commented on #53
@shrihari689 was this fixed?

[2021-04-24 09:37] chicksim opened #57 "Warning flag to remove in airtable form links on submit data link"
When i clicked on apply as a volunteer https://life.coronasafe.network/data it is again showing the warning flag error @bodhish

Do we need to speak to airtable support again?

[2021-04-24 09:38] chicksim commented on #44
Yes. it should be done on airtable @ProCode2

[2021-04-24 09:49] ProCode2 commented on #57
@bodhish reported this to airtable today.

[2021-04-24 09:59] shrihari689 commented on #53
No, I am doing it 📍 will finish and close 📌

[2021-04-24 10:14] sudevschiz opened #58 "Add functionality to request a removal or change in status"
**Is your feature request related to a problem? Please describe.**
Problem : The contact featured in the website might want to have their number removed, primarily due to two reasons
1. Their supplies have exhausted and they have stopped accepting requests
2. The contact provided is incorrect or irrelevant

**Describe the solution you'd like**
Add a button in the in the UI for the contact to reque

[2021-04-24 10:21] bodhish commented on #30
@coronasafe/cef can someone take this up priority

[2021-04-24 10:26] bodhish opened #60 "Add a new page /campaigns"
Add a `/campaigns` page and add the following as 1st card. This is a simple change. Please ship out asap

-----------------------------

As of today, India is undergoing a severe second wave with the world’s highest daily cases. Hospitals and healthcare providers are running out of resources in the fight against COVID-19 and the situation on the ground is dire. Oxygen is critically required to tre

[2021-04-24 10:58] Deep-Codes commented on #30
@bodhish Links for Slacks?

[2021-04-24 11:07] Deep-Codes commented on #39
Duplicate of #60? Then Close this

[2021-04-24 11:31] #53 closed

[2021-04-24 12:28] bodhish commented on #30
https://chat.suraksha.network/

[2021-04-24 12:50] Deep-Codes commented on #60
For `Partner With Us`: https://github.com/coronasafe/life/issues/39

[2021-04-24 12:57] Deep-Codes commented on #37
Let me know if other tags are to be added.

[2021-04-24 13:01] chicksim commented on #44
![image](https://user-images.githubusercontent.com/83093301/115959699-1df98280-a52b-11eb-89a6-6e95199a7fa0.png)
This is how we get email alerts on covidfyi after every form is filled.

[2021-04-24 13:05] chicksim commented on #41
Once a viewer contributes to the form or a volunteer adds a row to the airtable database, it automates a task generation for it to be verified - i.e. someone needs to pick up that task to fill the 3 columns - verification status, verified by, verifier comments - fields. A verification volunteers sees all these tasks on freshdesk/jira or whatever task management portal is connected to airtable. Thi

[2021-04-24 13:08] hareshpatel1990 opened #63 "Bug: Oxygen page show Medicine distribution list"
**Describe the bug**
Oxygen page show Remdesivir distribution list

**To Reproduce**
Steps to reproduce the behavior:
Go to [https://life.coronasafe.network/chhattisgarh/raipur/oxygen](https://life.coronasafe.network/chhattisgarh/raipur/oxygen)

**Expected behavior**
Need to display Oxygen Supplier contacts

**Screenshots**
![image](https://user-images.githubusercontent.com/13939918/115959903-3159

[2021-04-24 13:11] ProCode2 commented on #63
Checking

[2021-04-24 13:16] ProCode2 commented on #63
@hareshpatel1990 The bug doesn't show up in my case. Might be cache. Can you check again
![image](https://user-images.githubusercontent.com/50803990/115960140-43878b80-a52d-11eb-93f6-8ab06a4b880f.png)

[2021-04-24 13:17] ProCode2 commented on #63
Let me know if it persists

[2021-04-24 13:23] hareshpatel1990 commented on #63
okay

[2021-04-24 13:23] #63 closed

[2021-04-24 13:35] ProCode2 commented on #33
The data needs to be cleaned right? The front end is not parsing/cleaning the `phone1` string right now.

[2021-04-24 13:36] svadwlas commented on #57
Thanks @bodhish @chicksim. There are several campaigns here in the US wherein we are chipping in financial help to send Oxygen supplies/medical supplies etc. to India. Think we can integrate this somewhere on our APP, maybe as an FYI and then to streamline all info at one place?

[2021-04-24 13:46] ProCode2 commented on #21
Taking up `copy to clipboard`

[2021-04-24 14:22] bodhish commented on #57
https://life.coronasafe.network/campaigns

[2021-04-24 14:22] Deep-Codes opened #65 "legend for verified / non-verified"
**Is your feature request related to a problem? Please describe.**

Currently when a user visits: https://life.coronasafe.network/punjab/ludhiana/plasma
He/she sees the warning sign but might not understand the meaning of it.

**Describe the solution you'd like**
Adding a meaning of icons on top for reference.

**Describe alternatives you've considered**
using components something similar to GitHu

[2021-04-24 14:31] svadwlas commented on #57
Thanks @bodhish

[2021-04-24 14:44] rawris commented on #65
I can pick this one up, will add label with the icon.

[2021-04-24 14:58] Deep-Codes commented on #60
Added via #66

[2021-04-24 14:58] #60 closed

[2021-04-24 15:04] Deep-Codes commented on #30
Done!

[2021-04-24 15:04] #30 closed

[2021-04-24 15:32] shrihari689 commented on #51
Now everything is fine ✅
I hope we are always refactoring the card 🎨 in sync with data available. 📍 Soon it will be more responsive 📱

[2021-04-24 15:32] #51 closed

[2021-04-24 16:04] Deep-Codes opened #69 "consistent layout alignment"
**Is your feature request related to a problem? Please describe.**
it's good to have consistent layout alignments

Compare:

Center Aligned:
https://life.coronasafe.network/delhi_(nct)/new_delhi/plasma

Left Aligned:
https://life.coronasafe.network/chhattisgarh

**Describe the solution you'd like**
To have Left Aligned those who are Center.

[2021-04-24 16:14] rawris commented on #65
I have created a generic badge component currently it supports verified and unverified but more configurations can be added by just updating an object.
PR: https://github.com/coronasafe/life/pull/70

[2021-04-24 16:21] rawris commented on #69
Also, one way can be by using a generic card component throughout all the listings so that the design can be consistent. I can try and pick it up tomorrow.

[2021-04-24 17:49] ProCode2 opened #71 "Tailwind Classes are not working in production"
**Describe the bug**
Tailwind classes are working fine in local builds and development. But they are not working when deployed in vercel. Adding the same as normal CSS works fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the [clipboard](https://github.com/coronasafe/life/tree/clipboard) branch.
2. In `AmbulanceCard.jsx` file, Add `ml-auto w-8` to this [className](https://github.c

[2021-04-24 18:08] Deep-Codes commented on #65
Thanks, @rawris 🚀

[2021-04-24 18:08] #65 closed

[2021-04-24 18:09] Deep-Codes commented on #69
Give it a Try!

[2021-04-24 18:14] Deep-Codes commented on #43
@divyagar Solved?

[2021-04-24 18:15] shrihari689 commented on #71
Looks working good! May I now what's not working 🤔

[2021-04-24 18:20] ProCode2 commented on #71
Fixed a few minutes back. It was some problem in tailwindcss config file.

[2021-04-24 18:22] Deep-Codes opened #72 "create a card component"
We need a Card Component instead of having 6 different ones.
Also a single alignment Left or center

[2021-04-24 18:38] ProCode2 commented on #40
@karmakoder any update on this?

[2021-04-25 01:38] Deep-Codes commented on #5
@divyagar is this issue solved?

[2021-04-25 01:59] Deep-Codes opened #73 "absolute imports"
**Is your feature request related to a problem? Please describe.**

Why we need this?

[code]

**Describe the solution you'd like**
using absolute imports

[2021-04-25 03:32] Deep-Codes commented on #73
This isn't working and PR got merged accidentally so reverted changes.

Maybe in future we will look into this

[2021-04-25 04:10] divyagar commented on #43
@Deep-Codes  I am currently not working on this issue.

[2021-04-25 05:30] #73 closed

[2021-04-25 05:48] bodhish opened #76 "Add a request feed"
https://docs.google.com/spreadsheets/d/1b9wYaz5yxiMFNSpDmi1Z3jJWT3fjx5jw2WV7clc0tYM/edit?resourcekey#gid=972869835

Use provider requirement sheet

1. Create a script that will periodically generate json from the sheet
2. Create a UI for the listing.

[2021-04-25 05:49] jenishjain commented on #72
can i pick this?

[2021-04-25 05:51] shaileshaanand commented on #76
I'm working on the script

[2021-04-25 05:52] ProCode2 commented on #76
@shaileshaanand Can work on the UI

[2021-04-25 05:52] shrihari689 commented on #72
Sure @jenishjain  🚀 Pick it up 🔥🔥

[2021-04-25 06:02] jenishjain commented on #72
working on it 🚀

[2021-04-25 06:37] jenishjain commented on #72
seems like i need some access to raise PR to this project can you help ? @Deep-Codes

[2021-04-25 06:44] Deep-Codes commented on #72
Sure thing

On Sun, 25 Apr 2021, 12:07 jenish jain, ***@***.***> wrote:

[2021-04-25 07:06] peeyush14goyal commented on #69
Will be covered in #72

[2021-04-25 07:06] #69 closed

[2021-04-25 08:26] Deep-Codes commented on #72
@jenishjain Awesome Work  🚀 .

[2021-04-25 08:26] #72 closed

[2021-04-25 08:46] sharunspi opened #78 "issue while starting dev"
[code]
Showing this error while staring the development server . this may not be a bug but I am facing this when I start development server.

1. node 10.19.0
2. npm 7.11.1
3. OS : ubuntu

[2021-04-25 08:54] Deep-Codes commented on #78
https://github.com/sharunspi/life.git

Wait I am cloning your repo let me see if I can reproduce.

[2021-04-25 09:26] bodhish commented on #76
@ProCode2 status?

[2021-04-25 09:28] sharunspi commented on #78
This is the error code that i am getting
![Screenshot from 2021-04-25 14-56-04](https://user-images.githubusercontent.com/21285883/115988295-979a7a80-a5d6-11eb-9b0e-982bf15a9af0.png)

[2021-04-25 10:13] khuze opened #80 "Tweet information as its updated / verified"
We should do a zapier integration to our airtable, whenever an information gets verified and goes live, we should tweet it out. Most people are following twitter hashtags and this will help them find the information.

[2021-04-25 10:31] Deep-Codes commented on #76
Added

Added #81

[2021-04-25 10:35] hectarV commented on #33
@karmakoder I will pick this up

I will pick it up

[2021-04-25 10:41] Deep-Codes commented on #80
Yes and also add the Link to the website.

Similiar to what we are doing in Share to Twitter in the Website.

[2021-04-25 10:41] bodhish opened #82 "Rename support to campaigns"
The support button on the footer is a bit confusing. We should rename it to `campaigns`

[2021-04-25 10:42] bodhish commented on #78
Try this.

[code]

[2021-04-25 10:45] Deep-Codes commented on #82
updated via 8b9fbfc

[2021-04-25 10:45] #82 closed

[2021-04-25 11:15] Deep-Codes opened #83 "refactor oxygen requirements component"
Link : https://life.coronasafe.network/oxygen_requirements

Need to have Proper Styles and Card Component For this.

Use `FontAwesome` Icons wherever Needed try to match it with Other Cards we have and Support for Dark Mode.

[2021-04-25 11:16] sharunspi commented on #78
Issue solved by updating node to latest. node `10.19.0 --> 14`
need to add that in `package.json`
[code]

[2021-04-25 11:16] #78 closed

[2021-04-25 11:17] Deep-Codes opened #85 "i18n - Indian Translations"
Adding Multiple Language Feature

[2021-04-25 11:46] bodhish opened #86 "Remove plasma tab."
Remove plasma tab and cleanup associated resources.

[2021-04-25 11:46] Deep-Codes commented on #85
- [ ] Creating a MVP model for Index Page
 - [ ] Persisting user Language Selection
 - [ ] Adding Other Pages
 - [ ] Creating a Guide for Docs Translators

[2021-04-25 11:50] Deep-Codes commented on #85
Indian Language Codes : [Refer](https://forums.asp.net/t/1250681.aspx?need+locale+code+for+an+Indian+language)

[2021-04-25 12:17] avi-jain opened #88 "Add additional tab for real-time vaccine availability"
**Is your feature request related to a problem? Please describe.**
With the vaccine shortage, and the flood gates opening on 1st May, it would be useful for the public to have data regarding the availability of vaccines (and type) at a centre. Right now people have to physically visit the centre(s) only to find that the vaccine is out of stock

**Describe the solution you'd like**
A tab for real-t

[2021-04-25 13:28] Deep-Codes commented on #88
That is so awesome!

Please let me know what kind of Help you want.

[2021-04-25 14:49] arnabsen1729 commented on #71
Facing the same issue in https://github.com/coronasafe/life/pull/89, in the local environment, the CSS properties are loaded properly. The expected display is provided in the PR description. But the vercel preview, some of the styles are missing. Here is a comparison
| Local Environment | Vercel Build |
|---|---|
| ![image](https://user-images.githubusercontent.com/51032928/115998123-769c4e80-a603

[2021-04-25 15:01] MadHatter92 opened #91 "update disclaimer to this"
https://drive.google.com/file/d/1R8NPrBijJPwaudoAUFV_hCO-3Kmu46N4/view?usp=sharing

[2021-04-25 15:28] MadHatter92 opened #92 "Remove Plasma as a category"
Plasma doesn't work is the medical consensus among experts

[2021-04-25 15:30] shrihari689 commented on #92
Is this related to #86 ?
📍

[2021-04-25 15:31] ProCode2 commented on #92
@MadHatter92  just to clear, remove plasma as a category but keep showing the data? or remove it altogether?

[2021-04-25 15:31] ProCode2 commented on #92
Oh looks like a duplicate

[2021-04-25 15:48] Deep-Codes commented on #91
Added via 32e92f8

[2021-04-25 15:48] #91 closed

[2021-04-25 16:20] shrihari689 commented on #92
Maybe #86  would resolve this 📍

[2021-04-25 16:25] MadHatter92 commented on #92
my bad, please merge with older ticket
plasma should be gone gone from the website

[2021-04-25 16:26] #86 closed

[2021-04-25 16:26] #92 closed

[2021-04-25 16:50] avi-jain commented on #88
Alright, so I haven't dealt with React in years (5 I think :P) but the codebase looks nice and easily extensible. Here are a few steps I can think of -

- [x] Add vaccine tab to the pages
- [x] Add vaccine:false to your existing active_district_data.json for beta purposes
- [ ] Create new table in Airtable, create new column/s for vaccine wherever required and then change the scraper accordingly
-

[2021-04-25 16:59] bodhish commented on #88
@chicksim

[2021-04-25 17:04] shrihari689 commented on #71
Not a right fix 🔨! But made some workaround https://github.com/coronasafe/life/pull/89#issuecomment-826355855

[2021-04-25 17:11] #76 closed

[2021-04-25 17:41] chicksim commented on #88
@avi-jain if I give you access, could you do it? I am busy with de-duplication efforts. and if you can build something that can identify duplicates, delete it from frontend and give it to us, we verify it and then put it back to the system. It will be great. can u make another issue for it! Please.

[2021-04-25 17:52] bodhish opened #94 "Hide oxygen requirements button from home page"
Hide oxygen requirements button homepage for now.

[2021-04-25 18:06] Deep-Codes commented on #94
Done via 153524c9c9065e25d8a0f5cc2521fd171a1b46c6

[2021-04-25 18:06] #94 closed

[2021-04-25 18:26] #83 closed

[2021-04-25 18:30] #21 closed

[2021-04-25 18:30] #37 closed

[2021-04-25 18:33] avi-jain commented on #88
I can do the addition of a column in https://airtable.com/shrIlOoS6PyhIIVEv/tblvpmK21RJaGP07X/viwHyoxnIruo71pfW?blocks=bipKp2Nvee9X72oZp
cmmiw I think I'm late by 2 minutes because the scraper is scheduled to run at midnight so I don't think the column will show up instantly?
As for the second thing, I'll create a new issue

[2021-04-25 18:35] bodhish commented on #88
Scraper runs every one hour

[2021-04-25 18:47] avi-jain opened #95 "De-dupe entries"
build something that can identify duplicates, delete it from frontend and give it to us, we verify it and then put it back to the system.
_Originally posted by @chicksim in https://github.com/coronasafe/life/issues/88#issuecomment-826361227_

Let me know if this is what you want
Script in Python that takes in a JSON, finds the duplicates deletes them and spits out two files - deduped JSON (used by

[2021-04-25 18:59] Deep-Codes opened #96 "Partners"
## Partners

Crediting Initiatives who are lined up to Build One Initiatives.

- Add Your Logos

[2021-04-25 19:22] chicksim commented on #96
http://www.covidindiacampaign.org/

[2021-04-25 19:37] bodhish commented on #96
This will be an ever challenging list. Create a new page. Don't touch the current footer.

[2021-04-25 19:37] viksit opened #97 "Integrate real time twitter feed of supply and demand"
Problem:
Twitter is very noisy and there is no easy way to search both supply and demand very easily. There's a great website that @umanghome made [https://covid19-twitter.in/#frequent-searches] that I'm using as inspiration. I'm proposing a place where we stream tweets in real time into supply and demand, and help guide people into that. Volunteers may also be able to help connect the two down th

[2021-04-25 19:58] avi-jain commented on #95
[code]

@chicksim hastily wrote this in case you want to use this. This does exact match, can extend to fuzzy match.
Create a scripts folder and dump this in a python file and run with different file names.

[2021-04-25 20:34] hectarV commented on #33
@Deep-Codes I have created a pull request for this.

[2021-04-25 21:28] vandanabhandari commented on #5
@divyagar On thinking further, you may not need this as you can see the date and time when a change is pushed when you do `git log`

[2021-04-25 22:23] karmakoder commented on #40
https://github.com/coronasafe/life/pull/99 @ProCode2

[2021-04-25 22:41] karmakoder commented on #33
handled in https://github.com/coronasafe/life/pull/98. closing.

[2021-04-25 22:41] #33 closed

[2021-04-25 23:08] karmakoder commented on #43
Was trying to display this data and this is whats in the jsons for hospital:

Type of Hospital : i.e. typeOfHospital : all values are null.
Verifier_Comment - sample jsons have this value. will add it.
Sub category of hospital- i.e. subCategory all values are null.
Availability - Will add this.
Type of bed available - Will add this.
How many beds available when you last checked : Will add this.

@

[2021-04-26 00:12] karmakoder commented on #43
created https://github.com/coronasafe/life/pull/100

[2021-04-26 01:17] Deep-Codes commented on #96
Alright Makes sense.

[2021-04-26 01:30] #40 closed

[2021-04-26 01:41] #43 closed

[2021-04-26 02:29] Deep-Codes opened #102 "setting up docs / guide for translation"
# Adding a new Language

All Translations are inside the [`/locales` ]()folder

Each language has a Folder with the Name of its Respective Code [Based on this](https://forums.asp.net/t/1250681.aspx?need+locale+code+for+an+Indian+language).

For example: English Translation would be in `/locales/en` and Marathi in `/locales/mr`

Each File Inside the Language Folder would have Multiple Files based o

[2021-04-26 04:19] divyagar commented on #88
@avi-jain Can you add a new table vaccine in database. I'll change scraper and will add vaccine card in webste.

[2021-04-26 04:36] Deep-Codes opened #103 "creating a script for generating translation folder & files"
The Script Should generate the following directory structure:

Would be generated inside `/locales` folder

[code]

- The folder would be Based on the Language Code passed as a parameter
- The Files that need to be created would be `.js` and the default content inside it would be from [`/locales/en`](https://github.com/coronasafe/life/tree/main/locales/en)

[2021-04-26 04:43] hareshpatel1990 commented on #51
@shrihari689 please check another formatting fixes @ [https://life.coronasafe.network/chhattisgarh/raigarh/medicine](https://life.coronasafe.network/chhattisgarh/raigarh/medicine)

![image](https://user-images.githubusercontent.com/13939918/116029926-04b21c80-a678-11eb-8016-54921b1864c5.png)

[2021-04-26 05:20] bodhish commented on #88
I have created a new table https://airtable.com/invite/l?inviteId=invRACM91tD76GvSG&inviteToken=c6df2901ee26fe8534af6ca2200420f0c4f4a3b7090bdfb3d0119bc21bac2d12

[2021-04-26 05:36] avi-jain commented on #88
Thanks! I'd made the code changes to a branch on the fork (https://github.com/avi-jain/life/tree/vaccine)
@bodhish I think you'd also have to add a column in the district data?

[2021-04-26 05:46] bodhish opened #104 "Add link to Oxygen Concentrator Requirement"
Add a new button near to covid19India button

Button Text: [Oxygen Concentrator Requirements
Link: https://docs.google.com/spreadsheets/d/e/2PACX-1vS7nP0QvIvm5VDEbVDG0ELECYS446P-MgLwdX_elDrYbkN39g_o90wmJIMcazmcLH38Snn7rSqwAS_y/pubhtml?gid=972869835&single=true

[2021-04-26 05:53] bodhish commented on #104
@abhinandanarya06 HOLD

[2021-04-26 06:07] peeyush14goyal commented on #97
This API requires city name in query parameter. We can keep this button in card of city with name "Twitter Posts" and then make a new page

[2021-04-26 06:13] #104 closed

[2021-04-26 07:41] SaloniMehta25 commented on #104
is it possible to add filters to this?

[2021-04-26 07:48] SaloniMehta25 opened #106 "Medical supplies - demand/ supply"
we have currently put a public google doc where people can see the requirements (https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vS7nP0QvIvm5VDEbVDG0ELECYS446P-MgLwdX_elDrYbkN39g_o90wmJIMcazmcLH38Snn7rSqwAS_y/pubhtml?gid=972869835&single=true), we need to put a clean table directly on the website where people can filter based on various criteria (something like this: https://www.covid19india.o

[2021-04-26 07:49] AmjadNoor opened #107 "API link visible as a text"
## Describe the bug
API link is sown as plain text in GitHub pages.

## To Reproduce
Steps to reproduce the behavior:
1. Go to [coronasafe Github page](https://life-api.coronasafe.network/).
2. Click on API link. API link is not clickable because they sown as a plain text.
3. See error

## Expected behavior
I want API link in Github page if anyone visit coronasafe Github page then they able to cli

[2021-04-26 08:49] bodhish commented on #106
Rework oxygen_requirment

[2021-04-26 09:43] Deep-Codes commented on #102
Indian Languages Added:

- [ ] Hindi
- [ ] Marathi
- [ ] Telugu
- [ ] Tamil
- [ ] Bangla
- [ ] Punjabi
- [ ] Gujarati
- [ ] Malayalam
- [ ] Odia
- [ ] Urdu
- [ ] Kannada
- [ ] Assamese

[2021-04-26 09:58] Deep-Codes commented on #103
Thanks @divyagar  Closing 🚀

[2021-04-26 09:58] #103 closed

[2021-04-26 10:35] Deep-Codes opened #109 "Indian Translation Status:"
Issue handles the Status of Translations

Indian Languages Added (Might not be Complete)

- [ ] Hindi - HI
- [ ] Marathi - MR
- [ ] Telugu - TE
- [ ] Tamil - TA
- [ ] Bangla - BA
- [ ] Punjabi - PA
- [ ] Gujarati - GU
- [ ] Malayalam - MA
- [ ] Odia - OD
- [ ] Urdu - UR
- [ ] Kannada - KN
- [ ] Assamese - AS

[2021-04-26 11:26] #85 closed

[2021-04-26 11:26] Deep-Codes commented on #102
Added Docs

[2021-04-26 11:26] #102 closed

[2021-04-26 12:00] chicksim opened #111 "Insert sub-categories in each contact card"
Under certain categories - like oxygen, hospitals etc. We want to show sub-categories- oxygen cylinder, oxygen can, oxygen refiller, home delivery. Make this category multi select so that we show all the categories this dealer deals in.

We need to standardise this. Please feel free to suggest one after analysing the data. Will make changes on airtable accordingly.

**Is your feature request relat

[2021-04-26 12:01] chicksim commented on #88
Form view is also to be created with this and pushed on the liferesources.in/data so that ppl can fill in verified leads there

[2021-04-26 12:05] chicksim opened #112 "Edit feature on frontend from admins"
Can the admin logins make edits on the frontend - at least - edit the verifier comments/description on the final card. And this edit modifies airtable database too? This can help when I am looking for something, calling a number and it did not help me, I want to update the comment, and it records the timestamp. Just show the last comment.

**Is your feature request related to a problem? Please des

[2021-04-26 12:07] #96 closed

[2021-04-26 12:39] himanshu007-creator commented on #109
Hi, i would like for punjabi translation of files. Shall i start?

[2021-04-26 12:40] Deep-Codes commented on #109
Sure

[2021-04-26 12:48] Deep-Codes commented on #104
Yep

[2021-04-26 13:31] bodhish commented on #112
Let's not work on it. Switching away from airtable

[2021-04-26 13:33] karmakoder commented on #109
@Deep-Codes any way to track the usage of translations in GA in realtime? Is it browser lang setting driven?

[2021-04-26 13:37] karmakoder commented on #109
NM. Found it. thx.

[2021-04-26 13:38] ProCode2 commented on #71
@shrihari689  Can close this?

[2021-04-26 13:40] shrihari689 commented on #107
Closed by #108

[2021-04-26 13:40] #107 closed

[2021-04-26 13:56] abhinandanarya06 opened #113 "Not showing data but showing its available in state list page"
**Describe the bug**
Showing available resources (`ambulance`) but no data rendering

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [`https://life.coronasafe.network/delhi_(nct)/south_west_delhi`](https://life.coronasafe.network/delhi_(nct)/south_west_delhi)
2. Showing available ambulance. Now, Click on [Ambulance Card](https://life.coronasafe.network/delhi_(nct)/south_west_delhi/ambu

[2021-04-26 13:59] peeyush14goyal commented on #113
Same is happening in some other cities too

[2021-04-26 14:00] Deep-Codes commented on #113
<img width="450" alt="Screenshot 2021-04-26 at 7 29 44 PM" src="https://user-images.githubusercontent.com/61158210/116095146-c4798b00-a6c5-11eb-989c-7a040c0eb529.png">

In this case there's actually no data

[2021-04-26 14:11] peeyush14goyal commented on #113
Yes but in active_district_data.json ambulance field is true

[2021-04-26 14:11] ProCode2 commented on #113
How are active districts generated?

[2021-04-26 15:10] shrihari689 commented on #113
I could see in Airtable we have 99 Ambulances, but on out json, we do have 200+ ambulance 😶
I don't understand how it happens 🤔
Meanwhile I hope we are moving from Airtable to DB 📍
#537

[2021-04-26 15:23] karmakoder commented on #109
Gujarati - About page & Telugu About page being translated by us. Plz avoid duplicate efforts.

[2021-04-26 15:26] vandanabhandari commented on #109
Added https://github.com/coronasafe/life/pull/116 for telugu About us page

[2021-04-26 15:27] karmakoder commented on #109
We will keep adding more.

[2021-04-26 15:36] vandanabhandari commented on #109
https://github.com/coronasafe/life/pull/117

[2021-04-26 15:59] Deep-Codes commented on #109
Telugu and Punjabi is Completed thanks to @vandanabhandari & @himanshu007-creator  🎉

[2021-04-26 16:19] ProCode2 commented on #109
Did the Bengali translations.

[2021-04-26 16:20] Deep-Codes commented on #109
All?

[2021-04-26 16:34] ProCode2 commented on #109
Do we have to also translate the legal disclaimer?

[2021-04-26 16:36] Deep-Codes commented on #109
yeah obviously 😅

[2021-04-26 16:38] vandanabhandari commented on #113
I can try to fix this

[2021-04-26 17:28] vandanabhandari commented on #113
looks like this is fixed ..
https://life.coronasafe.network/delhi_(nct)/west_delhi. The Ambulance button is not highlighted.

[2021-04-26 17:28] bodhish opened #125 "Update the card design in About page"
Update about page to have a simple and slick UI/UX

Wireframe
![image](https://user-images.githubusercontent.com/14979190/116125294-ee8d7600-a6e2-11eb-8621-1846b88aafce.png)

[2021-04-26 17:34] Deep-Codes commented on #113
Yeah it's fixed

[2021-04-26 17:41] vandanabhandari commented on #109
I can take up Kannada with a friend (Perks of growing up in Bangalore)

[2021-04-26 17:42] #113 closed

[2021-04-26 17:45] Deep-Codes commented on #109
Yeah Sure Thing I would assign you.

[2021-04-26 18:01] vandanabhandari commented on #109
https://github.com/coronasafe/life/pull/126

Done. https://github.com/coronasafe/life/pull/126

[2021-04-26 18:04] joelsajichacko opened #127 "New UI design for the "Partner with US" page"
[Link to the frame](https://www.figma.com/file/5vTeIYUU4ikk02XaPmN4rg/Raksha-Covid?node-id=106%3A249)
![Partner with us](https://user-images.githubusercontent.com/45791338/116129587-e6840500-a6e7-11eb-9eb0-5d4e127559c3.png)

[2021-04-26 18:09] vandanabhandari commented on #127
I could try to work on  this

[2021-04-26 18:25] Deep-Codes commented on #127
@vandanabhandari Can I ship the navbar component?  and you work on content below it ?

[2021-04-26 18:26] shrihari689 commented on #127
Is this #125 ? 📍

[2021-04-26 18:26] Deep-Codes commented on #127
Looks like let's ask on group

[2021-04-26 18:37] vandanabhandari commented on #127
ok.. let me know if #125  is being worked... it does look same.. I have not started this, so can look at something else

[2021-04-26 18:38] ProCode2 commented on #127
I am working on that

[2021-04-26 18:44] #127 closed

[2021-04-26 18:48] ProCode2 commented on #125
@bodhish will life have that new navbar?

[2021-04-26 18:52] Deep-Codes commented on #109
I would try out to Work on Marathi Translations.

[2021-04-26 21:06] technoknol opened #135 "Vadodara, Gujarat Hospital list with beds details from Official source."
**Is your feature request related to a problem? Please describe.**
There's very less data for Vadodara, Gujarat City. I've found official website from where we can add data.

**Describe the solution you'd like**
Below link is municipality's website which has hospital data with hospital contact information and beds details. It has custom google map as well.

**Describe alternatives you've considere

[2021-04-26 21:16] vandanabhandari opened #136 "Display distance from users browser location for hospitals and medicines"
**Is your feature request related to a problem? Please describe.**
For a new person in town it may not be clear which location of hospital and medical shop is closest to them.

**Describe the solution you'd like**
If there is clear address with pin code. Using google api calculate the distance between latitude and longitude of your browser location to the address displayed in hospital and medical

[2021-04-27 02:27] divyagar commented on #88
@chicksim Please generate form link and send it here. I'll create form view.

[2021-04-27 02:32] Deep-Codes opened #138 "Load default locale when Lang's Key Isn't there"
Fixing This.

[2021-04-27 03:29] hannanabdul55 opened #140 "Chatbot for the data in this repository"
## What's there in this bot?
I have created a bot  (demo [here](https://abdulhannan.in/bot) - click on the small popup on the bottom right corner) using Dialogflow that pulls data from the [data](https://github.com/coronasafe/life/tree/main/data) folder in this repository and serves it to end-users through a chatbot. Currently, it has the following queries:
- Oxygen queries:  `I need oxygen in Mum

[2021-04-27 03:34] shrihari689 commented on #71
Yeah done ‼ 🚀

[2021-04-27 03:34] #71 closed

[2021-04-27 03:42] AmjadNoor commented on #109
@Deep-Codes I want to work on Urdu - UR language. Please assign it to me and also generate the urdu template.

[2021-04-27 03:52] Deep-Codes commented on #140
@bodhish Please See.

[2021-04-27 03:55] shrihari689 commented on #109
Completed Tamil Translation ✅
Thanks to @anupraman2000  📍🎉

[2021-04-27 03:59] shrihari689 commented on #109
@Deep-Codes  added the templates ✅
@AmjadNoor  You can now proceed 🎉

[2021-04-27 04:03] khavinshankar commented on #106
@bodhish
we have something like this,
![Screenshot from 2021-04-27 09-30-15](https://user-images.githubusercontent.com/29787772/116183357-540d5100-a73b-11eb-9ff4-a63c03ecfe3b.png)
and why are we not using that, any reason ?

**can we just use the above component or does it need to be modified?**

[2021-04-27 04:55] vjFaLk commented on #140
@hannanabdul55 I was just thinking about making a Telegram bot and then saw this post. What are you thoughts on porting your code over to a Telegram bot. It will make it more accessible and also remove the Dialogflow dependency.

[2021-04-27 05:14] shubham2924 opened #141 "Unresponsive status in helpline.json"
**Describe the bug**
"Unresponsive" verification status in helpline.json is what the bug is.

**Expected behavior**
Please put valid contact details which means they're verified properly contacted whether they're responsive or not before hand.

[2021-04-27 05:40] hannanabdul55 commented on #140
I am not sure about the Telegram API. But I can definitely standardize the data querying here and serve that through the flask server. I am not sure about what aspects of the natural language processing does Telegram handle. If it does all the parsing into Entities, similar to Dialogflow, then it should be pretty easy to port the entire code to Telegram. As a matter of fact, [Dialogflow itself has

[2021-04-27 05:52] shrihari689 commented on #5
Closing this as we are migrating from Airtable📍

[2021-04-27 05:52] #5 closed

[2021-04-27 07:21] bodhish commented on #140
@hannanabdul55 we can definitely include it

[2021-04-27 07:31] Deep-Codes opened #143 "Cannot update a component (`MainLayout`) while rendering a different component"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-04-27 07:48] bodhish opened #145 "Add a disclaimer to footer"
Add the following line to footer.

Data is not owned or created by us. [insert link to disclaimer]

[2021-04-27 07:56] vjFaLk commented on #140
Hey I've created a new discussion at https://github.com/coronasafe/life/discussions/146 as it seemed more apt than Issues.

[2021-04-27 08:09] bodhish commented on #106
It has to modified to a tabular format

[2021-04-27 08:16] #97 closed

[2021-04-27 08:34] shrihari689 commented on #145
Closing as of ac38cce1

[2021-04-27 08:34] #145 closed

[2021-04-27 08:48] shrihari689 commented on #109
Completed Urdu Translation ✅
Thanks to @AmjadNoor 📍🎉

[2021-04-27 09:21] #138 closed

[2021-04-27 10:11] bodhish opened #147 "Create page for videos"
Add an index page for videos and subpages for each videos

Source.
(hard-code data to start with)
https://docs.google.com/spreadsheets/d/1TRhuVGZ3Xi98RijKwRLdsdqvkR9Ywds30kknl19YHsU/edit#gid=0

[2021-04-27 11:23] joelsajichacko opened #149 "New UI redesign for the "Campaigns" page."
[link](https://www.figma.com/file/5vTeIYUU4ikk02XaPmN4rg/Raksha-Covid?node-id=128%3A45) to the page for inspection

![campaigns page](https://user-images.githubusercontent.com/45791338/116233156-9903a880-a778-11eb-81f7-b22414964246.png)

[2021-04-27 11:28] joelsajichacko opened #150 "New UI for the "Contribute Verified Data" page"
[Link ](https://www.figma.com/file/5vTeIYUU4ikk02XaPmN4rg/Raksha-Covid?node-id=123%3A66)to the new design in Figma
you can find the icons used in this design from the  [Figma file](https://www.figma.com/file/5vTeIYUU4ikk02XaPmN4rg/Raksha-Covid?node-id=0%3A1)

![contribute data page](https://user-images.githubusercontent.com/45791338/116233759-57bfc880-a779-11eb-984e-e0d8b114a3ae.png)

[2021-04-27 11:33] joelsajichacko opened #151 "New UI for "Search Results" page"
Users can easily find what they wanted by using the search bar . saving the time for goal completion of users.
also some filers to show "verified" and "Not verified" data separately.
[Link to the file](https://www.figma.com/file/5vTeIYUU4ikk02XaPmN4rg/Raksha-Covid?node-id=106%3A318)

![search results page](https://user-images.githubusercontent.com/45791338/116234402-2b587c00-a77a-11eb-8650-4480cbc

[2021-04-27 11:34] khavinshankar commented on #106
@bodhish
is this ok?
![image](https://user-images.githubusercontent.com/29787772/116234636-783c5280-a77a-11eb-96bd-72fa074285e3.png)

**any suggestions ?**

[2021-04-27 12:26] khuze opened #153 "Change campaigns button name to "Donate""
Campaigns as the button name is ambiguous, can we rename it to "Donate now". A clearer CTA will help the cause.

https://drive.google.com/file/d/1_HUus3UlJTew34vHkdF2FVDGbtfm-lxn/view

[2021-04-27 12:27] bodhish commented on #153
Don't change the endpoint as people are sharing the url

[2021-04-27 12:46] Deep-Codes commented on #153
Added ✅

[2021-04-27 12:46] #153 closed

[2021-04-27 13:00] khuze opened #155 "Content change for campaign / donate page"
Please add some basic para formatting and bullet, giving markdown content here to be updated :

As of today, India is undergoing a severe second wave of COVID-19 with the world’s highest daily new cases. Hospitals and healthcare providers are running out of resources in the fight against COVID-19 and the situation on the ground is dire. Oxygen is critically required to treat patients affected with

[2021-04-27 13:30] bodhish commented on #155
Using markdown rendering

[2021-04-27 13:37] khuze opened #157 "Auto populate location using current geo location"
Can we auto populate the current location by asking them to share geolocation.?

[2021-04-27 13:47] khuze opened #158 "Last updated filter"
Allowing users to search for information based on when the information was last updated / refreshed.

[2021-04-27 13:48] khuze opened #159 "Ping back when available"
A lot of users are coming right now and calling multiple directories but not finding the information. It would be good to give users the options to get subscribed for the information they were seeking, if there is a change in the status, our system sends them a notification / message.

[2021-04-27 13:50] khuze opened #160 "Allow users to mark information for re-verify"
A lot of users are coming right now and calling the numbers that they find on the site but in lot of cases getting possibly old data. We should allow users to mark information which might potentially be obsolete so that our data team can reverify the same.

[2021-04-27 15:40] khavinshankar commented on #106
@bodhish from https://docs.google.com/spreadsheets/d/1b9wYaz5yxiMFNSpDmi1Z3jJWT3fjx5jw2WV7clc0tYM/edit?resourcekey#gid=972869835, do we need to only show the dashboard sheet or all 4 sheets?

[2021-04-27 15:44] bodhish commented on #106
Will get back on this

[2021-04-27 17:28] #111 closed

[2021-04-27 17:37] #147 closed

[2021-04-27 18:02] Deep-Codes opened #165 "reduce build time by replacing serverless function"
Build Times take 7-10mins up from previous build time of 2mins

[Link To CovidConnect](https://github.com/viksit/covidconnect)

[How to do It](https://vercel.com/support/articles/how-to-enable-cors)

[2021-04-27 19:15] bodhish opened #167 "Create a new Github action that will sync the data"
Create a new Github action that could fetch the JSON from our public bucket and store it in the data folder.

- The action should be able to fetch n number of files from the bucket and write to the repo.
- it should write to a file with `_v2`  suffix so that we don't need to break the current workflow with aritable. Example `oxygen_v2.json`
- A new script should be added that will parse the data f

[2021-04-27 19:38] vandanabhandari commented on #167
Wooo I can look at Python code

[2021-04-27 19:38] vandanabhandari commented on #167
@bodhish Do we have S3 bucket that I can use or shall I create one for now to get going

[2021-04-27 19:54] bodhish commented on #167
You may not need the bucket. The data will be written to the bucket(https://life_data.coronasafe.network/oxygen.json) via our app.

We want the data from the bucket to be saved to this folder. https://github.com/coronasafe/life/tree/main/data
(we will also know the urls for each file)

Example of GitHub action https://github.com/coronasafe/life/blob/main/.github/workflows/update_json.yml

The Pyth

[2021-04-27 20:25] vandanabhandari commented on #167
@bodhish I'm not clear on the "bucket", do you mean AWS S3 bucket? The link you gave doesn't look like one
https://life_data.coronasafe.network/oxygen.json

I'm using S3 BOTO3 lib of python and using `list=s3.list_objects(Bucket='BUCKET_NAME')['Contents']`

[2021-04-27 20:36] shubhabrataroy opened #169 "Oxygen availability"
**Is your feature request related to a problem? Please describe.**
Currently the app does not have any availability feature, where the suppliers can update how much oxygen they do have or if they don't have anything.

**Describe the solution you'd like**
Let the suppliers update the availability of oxygen

**Describe alternatives you've considered**
Additionally can we also add reserve features
**

[2021-04-27 20:37] shubhabrataroy opened #170 "Add location based features"
Help finding resource based on users location. Example: If I keep my location turned on it would show my nearby facilities.

[2021-04-27 20:37] bodhish commented on #167
Listing the bucket is disabled with policy. I was thinking we could do a fetch request. We can update the list of links at a later stage. You can assume it as an array of links.

You are right that the bucket is currently digital Ocean, will be switching to s3 with a cloudfront layer on front of it at a later state. (that's the reason I was thinking we should use http fetch so that we don't have t

[2021-04-27 20:46] vandanabhandari commented on #167
got it, so I will use request lib to from a list of links , the list hardcoded in the python file like

1.  Initialize list list_of_file

`list list_of_file = [https://life_data.coronasafe.network/oxygen.json, https://life_data.coronasafe.network/xyz.json, https://life_data.coronasafe.network/abc.json] `

2. Parse through the list
3. Download oxygen.json, xyz.json, abc.json in data/oxygen_v2.json,

[2021-04-27 20:48] Deep-Codes commented on #170
Duplicate of #157 ?

[2021-04-27 21:02] bodhish commented on #167
1. true
2. true
3. true
4. I am not sure what that is but what we are trying to do is, we want to create a JSON that says for a `district_x` we want to know what all resources are available.

Example: In oxygen.json `kottayam`, and vaccine_v2.json we have `kottayam`

Example output weill be

[code]

[2021-04-27 21:03] vandanabhandari commented on #167
oh, looks like https://life_data.coronasafe.network/oxygen.json is now AccessDenied
`<Error>
<Code>AccessDenied</Code>
<BucketName>life-data</BucketName>
<RequestId>tx0000000000000118979e8-0060887bfa-131f0da-sgp1b</RequestId>
<HostId>131f0da-sgp1b-sgp1-zg02</HostId>
</Error>`

[2021-04-27 21:06] bodhish commented on #167
@vandanabhandari we just deleted the data. It should be live in 10 minutes (infrastructure switch). I have shared a copy of the file over slack.

[2021-04-27 21:09] bodhish commented on #167
@vandanabhandari It's back. The link should be working now

[2021-04-27 22:17] shubhabrataroy commented on #170
Not fully, but yes they have some similarity. Geolocation + search based on geolocation.

[2021-04-27 22:26] chicksim opened #171 "District field not applicable - need alternative"
Question: There are some contacts that are operating
Pan India - one website or toll free number
State level - supplier distributing in maharashtra, or helpline for maha.
What do I write in the district column there, to map it to the frontend better. We also need to think of how we can show it in the frontend.

**Is your feature request related to a problem? Please describe.**
A clear and concise

[2021-04-27 23:00] vandanabhandari commented on #167
https://github.com/coronasafe/life/pull/172

[2021-04-27 23:12] chicksim commented on #39
Hi we need to reopen this issue - We need a separate partner with us page that will have both - Content and Partners logos. Sharing content below. For now this is the content to give you an idea: (also can someone open this issue again? )

Heading: Partner with us
Body: Citizen's groups and civil society organisations providing Covid Relief have formed 'Covid Relief India Alliance'. The goal is to

[2021-04-27 23:15] chicksim commented on #39
Partner names:

PIIndia.org, StepOne, Indiacovidresources.in - please take their logos and names from their site or google. This list will keep adding. so it will keep increasing. I ll keep posting here may be?

[2021-04-28 04:12] peeyush14goyal commented on #39
We also have a separate page /partners showing current partners we can make changes to that

[2021-04-28 04:16] divyagar commented on #39
Yeah I am making changes on that page only.

[2021-04-28 06:59] #167 closed

[2021-04-28 07:27] viksit opened #175 "Make Twitter results easier to use and more obvious"
@bodhi @Deepankar Bhade @Pradipta Ghoshal Deepankar and I just talked about adding something to the life search ui that informs people that they can do a live twitter search from there itself.

right now no one knows its there

so lets do something to make it obvious to people that this functionality exists and can be used

I proposed a) keeping the twitter div always open and b) having a message

[2021-04-28 07:32] #165 closed

[2021-04-28 07:40] smartclash commented on #157
If no body's working on this, can I take this up?

[2021-04-28 07:49] #39 closed

[2021-04-28 09:33] bodhish opened #176 "Create a new resource card."
Since we are merging to an unified schema for all resources type it would great if we could create a card component that could render those values well.

The shape of the schema can be accessed from the wiki.
Sample data is avilable at data/oxygen_v2.json

The design should also account for a upvote down vote buttons 😅

[2021-04-28 09:37] shrihari689 commented on #176
Almost completed as a part of #151 📍

[2021-04-28 13:13] vandanabhandari commented on #170
looks like a lot of usage to geolocation integration. I was looking at a similar one but have not started. https://github.com/coronasafe/life/issues/136

[2021-04-28 14:50] #149 closed

[2021-04-28 15:46] MadHatter92 opened #182 "Add Vaccine Related Info: APIs available now"
https://apisetu.gov.in/public/marketplace/api/cowin

[2021-04-28 21:31] Deep-Codes opened #185 "Fixes / Features for New UI"
- [x] after Selector Changing State doesn't change the `Url`
- [x] after Selector Changing District doesn't change the `Url`
- [x] Dropdown Icon in Select not getting triggered onClick
- [x] Updating the Page on Select of District
- [x] Adding a Trans Template to new Home Page

[2021-04-28 22:01] viksit opened #186 "Source link for Oxygen in Agra goes to "Tweet this" not the link itself"
Bug: the source link goes to a “tweet” intent: “https://twitter.com/intent/tweet?url=https%3A%2F%2Findiacovidresources.in%2F&text=” and not the source link itself

![image](https://user-images.githubusercontent.com/198669/116478238-9feef180-a832-11eb-82a1-b8a50b7b5ac6.png)

[2021-04-29 02:03] #150 closed

[2021-04-29 02:15] #106 closed

[2021-04-29 04:34] divyagar opened #187 "Input field to search videos in 'info on covid-19' page"

[2021-04-29 05:00] shrihari689 commented on #186
Reported 📍

[2021-04-29 05:17] #185 closed

[2021-04-29 06:46] #125 closed

[2021-04-29 08:37] Fayiz-A opened #188 "APIS should have parameters for states and districts"
**Is your feature request related to a problem? Please describe.**
This issue is regarding the apis. The api always gives a huge list of all districts and states. For Example: [This oxygen api](https://life-api.coronasafe.network/data/oxygen.json) gives a huge list of all states and districts data. The api should have an option to bring data about a particular state/district.

**Describe the solut

[2021-04-29 08:41] vigneshhari commented on #188
@bodhish this can be done in the pipeline if needed.

[2021-04-29 11:43] #151 closed

[2021-04-29 12:40] samanyougarg opened #192 "Twitter results are hard to read"
**Describe the bug**
Twitter results are hard to read. It would be good to display the formatted tweet text instead of everything in one line.

**To Reproduce**
Steps to reproduce the behavior:
View the Twitter results for any state/district/resource. For example, https://liferesources.in/delhi_(nct)/south_delhi/oxygen

**Expected behavior**
Text should be formatted just like the original tweet in

[2021-04-29 13:02] shrihari689 opened #193 "Adding All as Resource in the New UI filter 📌"
Adding All as Resource in the New UI filter 📌

[2021-04-29 13:46] samanyougarg opened #195 "Sticky Footer overlapping other elements"
**Describe the bug**
The sticky footer seems to be overlapping other elements like recent tweets and resources list.

**To Reproduce**
Steps to reproduce the behavior:
View the Twitter results for any state/district/resource. For example, https://liferesources.in/delhi_(nct)/south_delhi/oxygen

**Expected behavior**
Footer should be fixed to the bottom and shouldn't mess with other elements on the

[2021-04-29 13:46] shreenath opened #196 "Metadata for oxygen management"
Need a set of states / fields (optional) to enable rapid oxygen information and clarity

- Cylinder / concentrators / both
- Inventory / current availability
- Metadata (capacity, brand, volume, type, o2 purity level)
- Currently receiving empty cylinders (or not)

**Describe alternatives you've considered**
Freeform texts per entry with a schema

**Additional context**
Do not make it harder to su

[2021-04-29 14:21] Deep-Codes commented on #195
@Sandra3657 should i push the fix?

[2021-04-29 14:27] Deep-Codes commented on #195
Fixed via 6d98f82

[2021-04-29 14:32] #195 closed

[2021-04-29 14:59] shrihari689 commented on #193
Finished as of
https://github.com/coronasafe/life/commit/bc6fb753ae811b176020a204ebc66443df128898
https://github.com/coronasafe/life/commit/e2d1d1b9ecba342b0446942c693b25aadb8dd151
https://github.com/coronasafe/life/commit/fef5248bafe53486746e300df6ef01dba00e9592

[2021-04-29 14:59] #193 closed

[2021-04-29 15:00] #192 closed

[2021-04-29 15:12] theprogrammerin commented on #157
@smartclash -Are you using - https://developers.google.com/maps/documentation/geocoding/overview

[2021-04-29 15:33] #155 closed

[2021-04-29 16:06] khuze opened #197 "Update "Oxygen Concentration Requirements" link"
View Screenshot - https://drive.google.com/file/d/1Dg4fmK6f4Oat18s-HlLvPAmoWM7amU-V/view?usp=drivesdk

Please update the link to the new dashboard :
https://charts.mongodb.com/charts-swasth-deman-data-aobsf/public/dashboards/608a951e-5a65-4419-843d-d193674b3673

[2021-04-29 17:59] vandanabhandari commented on #109
@Deep-Codes You did most of the work, Now Marathi translation is completed and merged.

[2021-04-29 18:02] jitendraag opened #203 "Add a 'how to integrate data' page"
**Is your feature request related to a problem? Please describe.**
We are getting more and more requests from volunteer groups to integrate their data into our system. We should make a document that describes the process and steps they have to take.

**Describe the solution you'd like**
Create a page with all instructions that we can share with potential partners.
Here is what we share today:
http

[2021-04-29 18:41] Deep-Codes commented on #176
Done!

[2021-04-29 18:41] #176 closed

[2021-04-29 20:22] Deep-Codes commented on #197
Completed by @shrihari689

[2021-04-29 20:22] #197 closed

[2021-04-29 21:46] bodhish opened #205 "Render Twitter stream by default if we don't have the data."
Make Twitter stream the default selected view for pages where we don't have data.

[2021-04-29 22:22] Sindhura2021 opened #206 "Two phone numbers appear joined together in search results"
**Describe the bug**
When search results show up, many results with more than one phone number just mesh the different numbers together. When the call icon is clicked, it tries to call the number which is two different numbers joined together.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://liferesources.in/'
2. Search for oxygen of the resources, in Karnataka, Bengaluru Urban

[2021-04-29 23:02] Deep-Codes commented on #206
@Sindhura2021 Thanks for such detailed Explanation.

[2021-04-30 02:25] jitendraag opened #209 "Update documentation to reflect new versions of JSON"
**Is your feature request related to a problem? Please describe.**
I am trying to get more and more front-end developers to use our common backend data. I want to share our APIs with them and I don't have a consolidated list of APIs to share.

**Describe the solution you'd like**
1. Ensure APIs for all resources are available
2. Update the readme at https://github.com/coronasafe/life to reflect th

[2021-04-30 02:28] jitendraag opened #210 "Create a CSV of all master data"
**Is your feature request related to a problem? Please describe.**
Many apps and front-ends written by volunteers outside of Life ecosystem use CSV as input and may not port easily to our JSON APIs.

**Describe the solution you'd like**
1. Create and host a CSV for all resources. Another CSV for oxygen, hospital etc.
2. Document the URLs in README

**Describe alternatives you've considered**
Reque

[2021-04-30 02:31] jitendraag opened #211 "Start writing master data to a write-only Google sheet"
**Is your feature request related to a problem? Please describe.**
We have created a good interface for programmers with our JSONs. We are trying to decentralise verification at the same time. Unfortunately, many of these volunteers don't understand JSON. It's imperative that we share master data with these volunteers using a Google sheet.

**Describe the solution you'd like**
1. Create a Google s

[2021-04-30 04:11] #203 closed

[2021-04-30 06:58] Sindhura2021 commented on #206
Thanks, @Deep-Codes, that makes sense. Then we can put the entries correctly and the issue should be resolved.

[2021-04-30 07:55] Deep-Codes opened #216 "refactor campaigns page"
To parse Markdown: https://github.com/pupilfirst/cowinindia.org/blob/main/lib/markdownToHtml.js
Tailwind Typography: https://blog.tailwindcss.com/tailwindcss-typography

[2021-04-30 08:29] jitendraag opened #217 "Add sign-up form link to 'integrate data page'"
**Is your feature request related to a problem? Please describe.**
We recently made a 'how to integrate data' page. This is a great start. However, people still need more communication, handholding and we need to collect their details.

We should add http://bit.ly/JoinForces-CovidReliefIndiaAlliance URL with more text to the page.

**Describe the solution you'd like**
A clear and concise descripti

[2021-04-30 09:59] shrihari689 commented on #217
Completed 🚀

[2021-04-30 09:59] #217 closed

[2021-04-30 10:29] karmakoder commented on #210
https://apipheny.io/ can be used to do this.

[2021-04-30 10:43] jitendraag commented on #210
Ruchika is looking this. Assigning to myself.

[2021-04-30 10:48] karmakoder commented on #210
done.

[2021-04-30 10:50] karmakoder commented on #175
@viksit @Deep-Codes @ProCode2 can we close this now that we have a new ui for twitter serach. i think it makes it vry apparent.

[2021-04-30 11:11] karmakoder commented on #205
Closing issue.

[2021-04-30 11:11] #205 closed

[2021-04-30 11:39] jitendraag opened #220 "Generate verified data APIs / files"
**Is your feature request related to a problem? Please describe.**
Currently we are generating JSON and CSV for ALL of our data. It makes sense for us to also provide APIs which returns only verified data. This can be used by bots, SOS workers etc.

**Describe the solution you'd like**
Generate extra JSON and CSV files that eliminate unverified data.

**Describe alternatives you've considered**
Cl

[2021-04-30 12:04] rawris commented on #136
Hi @vandanabhandari,

Can you please assign my this(@rawris) account for this issue? I don't use the other(rishabhrawat10) GitHub account anymore.

[2021-04-30 13:00] Sindhura2021 commented on #206
@divyagar , the issue is still not fixed. Let's wait until we fix to close?

[2021-04-30 13:13] vandanabhandari commented on #136
@karmakoder I unassigned myself. you can assign to @rawris . Thank you Rishab bhai.

[2021-04-30 13:52] hannanabdul55 commented on #140
Closing this as it is moved to a discussion.

[2021-04-30 13:52] #140 closed

[2021-04-30 13:54] shrihari689 commented on #220
Completed as of https://github.com/coronasafe/life/commit/465ada84701315d940b4f4986e3eee4b85081e7b and https://github.com/coronasafe/life/commit/7e566efd60a44610968592385a6d827cd37ef4c4 📍

Summary:
- Exposed new API endpoints where users can get only verified data of specific resource type. 🎉
Explore: https://life-api.coronasafe.network/

[2021-04-30 13:54] #220 closed

[2021-04-30 13:55] shrihari689 commented on #216
Completed as of #222 📍

[2021-04-30 13:55] #216 closed

[2021-04-30 13:57] vjFaLk commented on #47
@karmakoder this isn't an issue per-se. Move it to where it has some visibility if this tool is useful?

[2021-04-30 13:59] vjFaLk commented on #141
@karmakoder This is more of a data entry issue, don't think it belongs here.

[2021-04-30 14:06] shrihari689 commented on #211
This means we maintain a master Google Sheet where all our (JSON) data gets sync 📍
and the sheet will be available to public as "Published Sheet" or "View Only Sheet" - Can do this ✅
Did I understood the issue correctly? 🧐

[2021-04-30 14:18] bodhish commented on #211
Published Sheet

[2021-04-30 14:36] karmakoder commented on #170
Agreed. @shubhabrataroy lets plz combine efforts under https://github.com/coronasafe/life/issues/136. I'll intro u to the dev who is working on part of this problem.

[2021-04-30 14:36] #170 closed

[2021-04-30 14:37] karmakoder commented on #141
These issues with data are being handled in back-end for v2 api and v2 version of data with some automation. Closing this for now.

[2021-04-30 14:37] #141 closed

[2021-04-30 14:41] karmakoder commented on #136
Done. @shubhabrataroy plz try and co-ordinate with @rishabhrawat10 slack : https://app.slack.com/client/TC99SV7B6/D01VDBZK90W/user_profile/U020316AYQ5 if u can contribute some code for this geolocation utility in general.

[2021-04-30 14:51] technoknol commented on #210
@jitendraag what about GraphQL open endpoint ? Do we really need to transform our data according to adopter's needs? GraphQL endpoint would be good to extract data in any form they want.

[2021-04-30 14:55] technoknol commented on #211
What would be the primary use for volunteers outside of Life's network ?

1. If they are just going to verify data, they can use https://life.coronasafe.network/ that's why the website is there as a nice presentation layer.
2. If they are going to use those CSV to create another resource app then rather than CSV I'd rather prefer GraphQL open endpoint. Community has widely accepted GraphQL and use

[2021-04-30 15:19] shrihari689 commented on #211
@technoknol
Yeah! that would be great use case 📍
But @jitendraag is mentioning about giving out the data for Non-Developers 📌

[2021-04-30 15:29] shrihari689 commented on #136
Is this releated to
https://github.com/coronasafe/life/issues/157
🤔

[2021-04-30 15:30] shrihari689 commented on #157
Any update @smartclash ? 😊

[2021-04-30 15:32] shrihari689 commented on #211
Issue work paused for CSV Dumps Action Deployment  📌
Note: It's also related to https://github.com/coronasafe/life/issues/210 🎉

[2021-04-30 15:36] technoknol opened #224 "For twitter results human readable time would be good"
**Is your feature request related to a problem? Please describe.**
During this time, TIME is very crucial thing. Twitter results are showing in date and time format. That will be little difficult for information seeker.

**Describe the solution you'd like**
For twitter results if we can show time in human readable format like (30 seconds ago, 1 day ago) would be a great help for information seeker

[2021-04-30 15:40] vigneshhari commented on #210
Closing this issue since we already have built the CSV auto exports. @jitendraag the file names are the same, change the extension from .json to .csv to get the csv dump.

[2021-04-30 15:40] #210 closed

[2021-04-30 15:43] vigneshhari commented on #211
since we are already doing a CSV dump, if someone can figure out how to import a csv into google sheets it should solve this issue.

[2021-04-30 15:58] bodhish commented on #224
This would be a super useful feature

[2021-04-30 16:17] vigneshhari commented on #211
Once we deploy the CSV at midnight we can start to try this, looks relatively straightforward.

[2021-04-30 16:22] bodhish opened #226 "Update FE to consume V2 schema"
Consume the new v2_json and update the cords.
Create empty files for the data that we don't have now.

example:

medicine_v2.json
[code]

[2021-04-30 16:28] bodhish commented on #188
@vigneshhari the data could be processed and split across multiple chunks by a GitHub action.

The API would be straightforward vig GitHub pages and CF cache in BW.
I am thinking if it should be inside life or as a new repo that just deals with the translations.

[2021-04-30 16:30] bodhish commented on #41
closing artable issues

[2021-04-30 16:30] #41 closed

[2021-04-30 16:30] bodhish commented on #44
closing artable issues

[2021-04-30 16:30] #44 closed

[2021-04-30 16:31] bodhish commented on #47
The process to get this WhatsApp bot running is super high. Let's not pursue this track now.

[2021-04-30 16:33] bodhish commented on #186
@shrihari689 , if it's a data-related issue let's close this issue.

[2021-04-30 16:36] shrihari689 commented on #224
Completed 🚀

[2021-04-30 16:36] #224 closed

[2021-04-30 16:38] bodhish commented on #226
@Deep-Codes use #225 as base

[2021-04-30 16:41] Deep-Codes commented on #226
Alright Noted

[2021-04-30 16:42] vigneshhari commented on #188
we don't need it inside life unless life actually uses it, anyone can take the data and create a GitHub pipeline to get the data.

[2021-04-30 17:24] #175 closed

[2021-04-30 17:26] technoknol opened #228 "Twitter is not searching for "Remdesivir or Tocilizumab" even Medicine is selected tab"
**Is your feature request related to a problem? Please describe.**
If I want to search for Remdesivir or Tocilizumab I'm unable to get it. Right now twitter query is searching for verified Oxygen, Ventilators and Bed even when I'm on medicine tab.

**Describe the solution you'd like**
Medicine and All tab should search for Remdesivir or Tocilizumab or any other critical relative medicine.

**Descr

[2021-04-30 17:27] technoknol commented on #224
This is not deployed yet ? @shrihari689

[2021-04-30 17:30] shrihari689 commented on #224
Its live 📌

![image](https://user-images.githubusercontent.com/57325503/116731869-e8133d00-aa07-11eb-83ba-3d920cee4599.png)

[2021-04-30 17:32] #47 closed

[2021-04-30 17:33] #57 closed

[2021-04-30 17:34] technoknol commented on #224
Ohh, may be I was checking cached version. Thanks.

[2021-04-30 18:49] jitendraag opened #230 "Remove duplication of records across multiple sources"
**Is your feature request related to a problem? Please describe.**
As we reach out to more groups to share their data with us and to share their verification status with us; we expect many of these groups will share the same resources. This will create a massive duplication problem at our end. True verification status of the resource won't be available and our JSONs will become very large.

**Desc

[2021-04-30 19:29] bodhish opened #231 "Create a data conversion project"
The current JSON on the master bucker is going to grow over time.
Also considering the request that there should be an option for other bots to just fetch data for a district.

We have decided to start a new project that will handle the data translations.

It can be a new Github repo that will do the following actions.
- [x] Downloads the master JSON/CSV every 30 mins
- [x] @shrihari689 Converts t

[2021-04-30 19:34] bodhish commented on #231
FYI: @karmakoder could onboard you to the new repo https://github.com/coronasafe/life-data

[2021-04-30 19:39] bodhish commented on #231
@tomahawk-pilot could help you deploy once the changes are live.

[2021-04-30 19:45] technoknol opened #232 "Duplicate code for fetching twitter data"
**Describe the bug**
Duplicate custom hook `useFetch` is found, which is in `components/TwitterContainer` and `components/Selector`. Check Screenshots

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'components/Selector.jsx'
2. Go to 'components/TwitterContainer.jsx'
3. Check the `useFetch` custom hook

**Expected behavior**
Duplicate code should not be there. Remove from either place.

[2021-04-30 20:03] bodhish commented on #231
All the endpoints have cf proxy enabled

[2021-04-30 20:13] bodhish commented on #231
I just got an alternate thought do we need the serverless. The scraper could simply randomise the order evry 10 mins.

The frontends can always order data so even if we put in infra they may order it / randomise it the way they want.

Should we just reorder it every 10 mins. Would be pretty straightforward.

Splitting the chuck will help a lot of people who could just consume bits from the whole d

[2021-04-30 20:15] technoknol commented on #231
We can deploy on Cloudflare workers. Free version gives 1,00,000 hits / day. We can ask favor for premium plan as well. Thougts ?

[2021-05-01 03:06] #232 closed

[2021-05-01 03:10] divyagar commented on #231
I would like to work on this issue. @karmakoder can you onboard me?

[2021-05-01 03:34] shrihari689 commented on #231
I can also take part in this 📌🙌

[2021-05-01 05:56] shrihari689 opened #235 "Design a Card Component for v2 APIs"
📍 Design a Card Component for v2 APIs

### Todo 🚀

😿 - Not Needed in the FE.

- [x] "id"
- [x] ~"state_name"~ 😿
- [x] "district_name"
- [x] ~"data_source"~ 😿
- [x] ~"data_name"~ 😿
- [x] ~"external_id"~ 😿
- [x] ~"created_date"~ 😿
- [x] ~"modified_date"~ 😿
- [x] ~"deleted"~ 😿
- [x] ~"data_id"~ 😿
- [x] "title"
- [x] "category"
- [x] "resource_type"
- [x] "description"
- [x] "address"
- [x] "phone_1"

[2021-05-01 08:05] karmakoder commented on #231
@divyagar @shrihari689 thx. Am trying to figure out if i need to add u guys as a member to repo. In the meantime, can u plz look at first 2 checkboxes in bodhi's description? Downloads the master JSON/CSV ever 30 mins and Converts the data into multiple folders and files in such a way that every district will have a JSON file for each category. Thx.

[2021-05-01 08:07] shrihari689 commented on #231
I am on it 📍
- [ ] Converts the data into multiple folders and files in such a way that every district will have a JSON file for each category.

[2021-05-01 08:10] karmakoder commented on #231
@bodhish shud i create a new team in github for life-data or create a team inside Life team?

[2021-05-01 08:12] karmakoder commented on #231
@shrihari689 keep this in mind plz : note: The 1st 2 steps could be done by adopting the scraper from this repo (keep it in python itself).

[2021-05-01 08:12] shrihari689 commented on #231
Yeah 🎉 Doing it in Python

[2021-05-01 08:28] karmakoder commented on #231
The serverless function cud use python's random.choices e.g. https://stackoverflow.com/questions/56309256/how-to-randomly-select-from-a-json-file

[2021-05-01 10:32] karmakoder commented on #231
@bodhish whr shud the split jsons like following be created? In the same S3 that is housing the rest of jsons?

Also, @tomahawk-pilot can u plz start prep for a lambda with an IAM role that has read-only access to the S3 bucket in question. Plz keep timeout for lambda large enuf like 5 mins and the memory to be around 1024 MB. Thx.

[2021-05-01 10:49] shrihari689 commented on #231
🎉
Completed creating a scrapper and dumping files for each district and state with each resource type 📍

Waiting for repo access to push 📌

[2021-05-01 10:53] karmakoder commented on #231
kewl @shrihari689 how about _The serverless function cud use python's random.choices e.g. https://stackoverflow.com/questions/56309256/how-to-randomly-select-from-a-json-file_

[2021-05-01 15:10] shrihari689 commented on #231
Completed the `Converts the data into multiple folders and files in such a way that every district will have a JSON file for each category` and made a simple function that randomizes things 🎉

Any update about serveless part? @bodhish  📌

[2021-05-01 16:40] shrihari689 opened #237 "📍 Route to v2 APIs"
https://life-api.coronasafe.network/#api-v2-csv

In link with #235 📌

[2021-05-01 16:47] peeyush14goyal opened #238 "Simple Page to display v2 json data"

[2021-05-01 16:50] #230 closed

[2021-05-01 16:50] #209 closed

[2021-05-01 16:51] jitendraag commented on #171
@bodhish , @karmakoder - What's blocking this change? Can we discuss and unblock please? This a real life scenario that we should support.

[2021-05-01 17:03] jitendraag opened #239 "Faster feedback mechanism on website / API"
**Is your feature request related to a problem? Please describe.**
Currently, we are spending a lot of time and effort working with volunteers to verify and re-verify data. We also have a massive influx of people trying to use our data to help their friends and family.

These covid victims are also in a position to give us excellent feedback on quality of data. If this feedback mechanism is availa

[2021-05-01 17:22] jitendraag opened #240 "Show Bed / Oxygen cylinder availability on UI whenever data is available"
**Is your feature request related to a problem? Please describe.**
We are collecting more and more data using our volunteer verifier and other networks. Among the most important element is number of beds, cylinders available with a hospital / vendor. Covid victims should be able to make an informed decision about calling vendors based on availability.

**Describe the solution you'd like**
Add avai

[2021-05-01 17:39] jitendraag opened #241 "Show verified results before unverified results"
**Is your feature request related to a problem? Please describe.**
Currently we show all results by default and results are not sorted based on verification status. Someone trying to find resources for their friends and family would prefer to see verified resources first. Only if the verified resources don't work, they are likely to try unverified resources. We should sort our results based on ver

[2021-05-01 17:52] shrihari689 commented on #237
Issue work is paused. 📍
The Stable Checklist

- [ ] Phone Numbers format needs fix
- [ ] Hospital Related fields is not live
- [ ] Resource Type for Some Records are empty

[2021-05-01 18:06] jitendraag opened #242 "Find ways to collect official bed numbers and data from official government sources"
**Is your feature request related to a problem? Please describe.**
We have a good source of data from various lead generation mechanisms. However, there are official sources that are significantly more reliable and users visiting our website are not getting this data. We should make this data available on our website.

**Describe the solution you'd like**

Something like Scrapy with custom code fo

[2021-05-01 20:09] abhinandanarya06 commented on #242
### Easy to GET Data

Following follows almost same order and structure of data
- *Gurgaon*
GET https://covidggn.com/api/Reporting/GetPublicHospitalDetails

- *Delhi*
GET https://coviddelhi.com/data/coviddelhi.com/bed_data.json
GET https://coviddelhi.com/data/coviddelhi.com/plasma_data.json

- *Thane*
GET https://covidbedthane.in/HospitalInfo/showindex

- *Bengaluru*
GET https://covidbengaluru.com

[2021-05-02 04:44] hannanabdul55 commented on #242
Bangalore CSV is scraped from BBMP website [here](https://bbmpgov.com/chbms/) and available [here](https://github.com/hannanabdul55/covid19-in-chatbot/blob/fetch_bbmp_hosp/bbmp_beds_data.csv).

[2021-05-02 09:31] rakeshgunduka commented on #242
Usefull link:
https://english.jagran.com/india/covid19-information-statewise-list-of-official-websites-to-know-the-availability-of-hospital-beds-in-your-city-10026173

Also for Maharashtra: In Mumbai, COVID-19 war rooms have been set up which are taking care of providing information about the availability of beds. The central helpline number is 1916.

[2021-05-02 10:56] rakeshgunduka commented on #241
@khavinshankar If this issue is not resolved. I can provide a quick fix for this.
Let me know

[2021-05-02 10:57] rakeshgunduka commented on #241
@jitendraag

[2021-05-02 11:24] divyagar commented on #242
@jitendraag How can we ingest csv to the system?

[2021-05-02 11:25] jitendraag commented on #211
We have hit a roadblock on integromat / apipheny side. Can we please see if the CSV to sheet solution has legs?

[2021-05-02 12:07] #241 closed

[2021-05-02 13:50] ganeshsp1 opened #247 "All Key fields in v2 API json response to lower case"
**Describe the bug**
For all the responses of v2 API the following key start with capital letter :
"Assigned_to"

**To Reproduce**
Just fire any API request

**Expected behavior**
All json keys should be lower case like "assigned_to" for the ease of parsing.

**Screenshots**
NA

**Desktop (please complete the following information):** NA
- OS: [e.g. iOS]:
- Browser [e.g. chrome, safari] :
- Versio

[2021-05-02 17:09] vigneshhari commented on #247
All required fields are already in lowercase ( snake_casing ), Any other attributes are not managed by us, Please build a pipeline to generate a standard file as per your requirement.

[2021-05-02 17:10] vigneshhari commented on #247
@tomahawk-pilot can guide you to create a new pipeline, you can clone our existing pipeline as well.

[2021-05-02 17:14] vigneshhari commented on #211
@shrihari689 the CSV dumps are already configured, can you connect them with google sheets as specified earlier?

[2021-05-02 20:23] vigneshhari commented on #211
@shrihari689 wrote an appscript for this
The data is now available at https://docs.google.com/spreadsheets/d/1Oyuf3LOjBr_ubJOJCTlBk6ODg3jXiSlLMW9g4-m5SHU/edit?usp=sharing and updated every 15 mins

[2021-05-02 20:23] #211 closed

[2021-05-02 20:35] bodhish commented on #211
@shrihari689 add it to Readme.

[2021-05-02 22:44] #235 closed

[2021-05-02 22:44] #237 closed

[2021-05-03 01:54] karmakoder commented on #240
The new UI does display the quantity available. It's a string so sometimes it just shows Available which is all based on the data entered on the g sheets. This can be closed I think @jitendraag @khavinshankar

[2021-05-03 01:58] #240 closed

[2021-05-03 05:23] #187 closed

[2021-05-03 06:08] shrihari689 opened #250 "Refactor Search Selector UI/UX in Home Page"
Todo: 🚀

- [x] Design in Playground
- [x] Create the Components
- [x] Testing the UX 😂
- [x] Shipping it for Feedback

[2021-05-03 06:08] jitendraag opened #251 "Missing parameter in new randomised response API results into 404 instead of 404 bad request"
**Describe the bug**
When someone hits the following incorrect URL:

https://life-pipeline.coronasafe.network/api/resources?resource=oxygen&state=maharashtra

They get a 404 response with following error message:
`{"error":"Unable to verify state or district or resource"}
`
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://life-pipeline.coronasafe.network/api/resources?resource=o

[2021-05-03 06:12] jitendraag opened #252 "Incorrect state spelling (capital letters) results into an empty set"
**Describe the bug**
`curl -ik "https://life-pipeline.coronasafe.network/api/resources?resource=oxygen&state=Maharashtra&district=latur"
`
Capital **Maharashtra** in query returns an empty response and not 404.

`curl -ik "https://life-pipeline.coronasafe.network/api/resources?resource=oxygen&state=maharashtra&district=latur"
`

Small **maharashtra** works

**To Reproduce**
Steps to reproduce the

[2021-05-03 06:55] shrihari689 commented on #252
1️⃣ Fixed 🙈 (as priority)

`resources?resource=oxygen&state=Tamil Nadu&district=Chennai` works ✅
`resources?resource=Medicine&state=Tamil Nadu&district=Chennai` works ✅
`resources?resource=medicine&state=tamil_nadu&district=chennai` works ✅
`resources?resource=medicine&state=Tamil_nadu&district=Chennai` works ✅

2️⃣ Needs to be documented 📍 Will be doing that 🎉

[2021-05-03 08:08] #251 closed

[2021-05-03 08:19] jitendraag opened #253 "Google Sheet Export Bugs"
**Describe the bug**
I am listing multiple bugs here because many of them might have the same fix.
- Currently the Google sheet export is very difficult to use (pain points below):

1. Order of columns in our Google sheet export is NOT same as sample data or data structure. If someone wants to use this Google sheet and copy paste data to their existing sheet, they can't do this without reordering

[2021-05-03 09:17] shrihari689 commented on #252
📍 Resolved

[2021-05-03 09:17] #252 closed

[2021-05-03 09:20] shrihari689 commented on #231
Completed 🚀 and under improvement 📍

https://life-pipeline.coronasafe.network/

@bodhish  @vigneshhari

[2021-05-03 09:20] #231 closed

[2021-05-03 09:20] shrihari689 commented on #226
Completed as of this https://github.com/coronasafe/life/pull/225 📌

[2021-05-03 09:20] #226 closed

[2021-05-03 09:54] karmakoder commented on #171
@chicksim can this be closed now if this is no longer a blocker?

[2021-05-03 09:55] karmakoder commented on #169
@shubhabrataroy is it duplicate of https://github.com/coronasafe/life/issues/239? If so, plz close it.

[2021-05-03 09:56] karmakoder commented on #160
@khuze is it duplicate of https://github.com/coronasafe/life/issues/239? if so, plz mark this one closed.

[2021-05-03 09:57] karmakoder commented on #158
This is already a feature for all resources isnt it @shrihari689 @khuze ? If so, plz close this ticket.

[2021-05-03 10:01] shubhabrataroy commented on #169
Great ... yes it is fine. Closing now.

[2021-05-03 10:01] #169 closed

[2021-05-03 10:19] shrihari689 commented on #158
📍 Yeah! We are already sorting the results by (verification_status) 📌

[2021-05-03 10:19] #158 closed

[2021-05-03 10:23] rawris commented on #182
@MadHatter92 Any idea if we can also book appointments using any cowin api?

[2021-05-03 10:27] MadHatter92 commented on #182
No, only check appointment and download certificate https://apisetu.gov.in/public/api/cowin

[2021-05-03 11:02] tejasa97 commented on #182
Yes in fact I believe appointments can be scheduled using these APIs:
[https://apisetu.gov.in/public/marketplace/api/cowin/cowin-protected-v2](url)

[2021-05-03 11:17] peeyush14goyal commented on #238
Migration to v2 done

[2021-05-03 11:17] #238 closed

[2021-05-03 11:28] samanyougarg opened #254 "Add covid meal data for cities from covidmealsforindia.com"
**Describe the solution you'd like**
Appscript that populates a google sheet based on the meal data from covidmealsforindia.com API and use triggers to keep the sheet updated. The backend can integrate with that sheet.

**Additional context**
Example query for getting food places in Delhi:
https://api.covidmealsforindia.com/user/restaurants?page_no=1&search_query=&location_filter=Delhi%20NCR&chari

[2021-05-03 13:20] ProCode2 opened #255 "Cards should have an option to register upvote / downvote."
**Is your feature request related to a problem? Please describe.**
Cards should have an option to register upvote / downvote .

**Describe the solution you'd like**
Cards should have an option to register upvote / downvote. Also, store the details on local storage so that they can't abuse the endpoints.

[2021-05-03 13:27] shrihari689 commented on #255
📌

https://github.com/coronasafe/life/blob/39f94cad3eebca0698e173d71c04fdd920f8b4d3/components/ResourceCard.jsx#L169

https://github.com/coronasafe/life/blob/main/components/FeedbackCounter.jsx

[2021-05-03 14:16] bodhish commented on #188
@Fayiz-A  https://life-pipeline.coronasafe.network/

[2021-05-03 14:16] #188 closed

[2021-05-03 15:31] sam9111 opened #256 "Switch tab to Twitter results when no data results received"

[2021-05-03 16:20] karmakoder commented on #112
Closing based on @bodhish's comments.

[2021-05-03 16:20] #112 closed

[2021-05-03 17:02] #95 closed

[2021-05-03 17:54] peeyush14goyal commented on #256
I already fixed this previously. in PR #234 Please check

[2021-05-03 19:04] sam9111 commented on #256
Got it👍

[2021-05-03 19:04] minkeshj commented on #228
I believe this issue has been resolved already. We can close it.
![image](https://user-images.githubusercontent.com/60917559/116920639-8570aa00-ac70-11eb-9c3c-c4efc1f096f6.png)

[2021-05-03 19:13] viksit commented on #228
No this is not solved.

The way to solve this is,

- map medicines to a list of medicines [medrol, dolo, ...]
- call the Twitter search api with a new parameter called resource_type_detail=medicine&resource_meta=dolo,medrol.. (comma separated string of the above list)
- Ping @sumit or @apoorv singal in the search channel on slack to have them integrate this in the Twitter search backend

[2021-05-03 23:12] balrajsingh9 commented on #157
@shrihari689 if this is still available, I'd like to pick this.

[2021-05-03 23:13] balrajsingh9 commented on #159
@shrihari689 If this is available, I'd like to investigate and find a way to implement this feature.

[2021-05-03 23:20] Fayiz-A commented on #188
@bodhish Thanks for responding. I can't open https://life-pipeline.coronasafe.network/ . It is showing This site can’t be reached.life-pipeline.coronasafe.network took too long to respond.

[2021-05-04 01:33] bodhish commented on #188
@tomahawk-pilot can you check if we have waf enabled for this subdomain

![Screenshot_20210504-070233.jpg](https://user-images.githubusercontent.com/14979190/116951883-b8359500-aca6-11eb-9044-38316c35d008.jpg)

[2021-05-04 05:56] nishitkamdaredb opened #257 "Add Google maps direction link based on coordinates available"
**Is your feature request related to a problem? Please describe.**
Currently, we are fetching coordinates data(latitude and longitude) from API. It will be better if we have a  link, on click of the same, maps will be opened with directions to that resource.

**Describe the solution you'd like**
I'm thinking of adding appropriate link with icon somewhere on the ResourceCard.jsx

[2021-05-04 05:56] #257 closed

[2021-05-04 05:58] tecnoder opened #258 "Add Google maps direction link based on coordinates available"
**Is your feature request related to a problem? Please describe.**
Currently, we are fetching coordinates data(latitude and longitude) from API. It will be better if we have a link, on click of the same, maps will be opened with directions to that resource.

**Describe the solution you'd like**
I'm thinking of adding appropriate link with icon somewhere on the ResourceCard.jsx

[2021-05-04 05:58] tecnoder commented on #258
I will be working on this enhancement.

[2021-05-04 06:19] rtindru opened #259 "Source data from covid-data-provider.eu-gb.mybluemix.net"
**Is your feature request related to a problem? Please describe.**
Integrating a verified data source for COVID resources

**Describe the solution you'd like**
Scrape data from the API and write to a Google Sheet so that the sheet can serve as another data source for Life

[2021-05-04 06:39] peeyush14goyal opened #261 "Not showing Verified results"
**Describe the bug**
Verified button does not show verified results it shows " No results"

**Screenshots**
![image](https://user-images.githubusercontent.com/42883572/116968064-5dfdf980-acd1-11eb-8c26-4c42682f96c6.png)
![image](https://user-images.githubusercontent.com/42883572/116968091-69e9bb80-acd1-11eb-8e04-a499a8254ae8.png)

**Desktop**

[2021-05-04 10:33] shrihari689 commented on #261
Closing as of #263 📌

[2021-05-04 10:33] #261 closed

[2021-05-04 10:39] shrihari689 commented on #256
The issue @peeyush14goyal solved (3 days ago) has been replaced by my code 😿 while I was migrating to v2 API 📍
Now if you do a search the Twitter Card will be shown in the Result Tab. It doesn't switch tab 📌

So @Sandra3657  and @sam9111  you may continue to work 🎉

[2021-05-04 11:30] Fayiz-A commented on #188
@bodhish thanks, now it is opening.

[2021-05-04 13:07] #258 closed

[2021-05-04 14:44] #256 closed

[2021-05-04 17:08] shrihari689 commented on #247
Closing this as of `wontfix` 📍

[2021-05-04 17:08] #247 closed

[2021-05-04 17:22] shrihari689 commented on #159
Yeah sure 🎉 @balrajsingh9 📍

[2021-05-04 17:26] shrihari689 commented on #88
Closing this as we moved out of Airtable 📍 and the Vaccine module is on live 🌴

[2021-05-04 17:26] #88 closed

[2021-05-04 22:32] n3jain commented on #228
@viksit It looks like the covidConnect API for twitter search only supports two kinds of resource_type filtering 1. Supply 2. Demand. Also, the search string is constructed only from the location, doesn't take into the resource type or district. In order to make the twitter search appropriate based on the resource type and district, the updates need to be done for the covidconnect API. Could you p

[2021-05-05 02:46] brainless commented on #228
@n3jain let me have a look at this today. @apoorvsingal and myself are in the covidconnect repo. If you have time right now then please feel free to make the changes, I can review the PR. The repo is at https://github.com/viksit/covidconnect

[2021-05-05 06:20] namanambavi opened #265 "Section not clickable"
**Describe the bug**
When I click on a state and it automatically takes me to the twitter section out of the 3 (results,twitter & map). There are no tweets and that’s okay but then I can’t shift to the results section. It falls back to the twitter section only.

**To Reproduce**
Steps to reproduce the behavior:
1. go to the homepage
2. Select a state
3. Try to change from twitter to results
4. It

[2021-05-05 06:24] bodhisha opened #266 "Data is not getting updated in distrcit select button."
Data in the `district select` button is not getting updated on updating the state.

**Steps to reproduce the behavior:**
1. Go to https://life.coronasafe.network/tamil_nadu
2. Change the state
3. **BUG**: Corresponding districts are not updated

[2021-05-05 07:41] #266 closed

[2021-05-05 07:45] bodhish opened #269 "Add search in state and district pages"
The page should have a search UI that's similar to the homepage search.

People should be able to easily jump to other pages without selecting to many buttons

[2021-05-05 07:46] bodhish commented on #265
Hide results section if the results are not available.

Currently clicking on the results tab is forwarding the user to Twitter tab as their are no entries avilable for the selected district.

[2021-05-05 07:47] shrihari689 commented on #269
Linked to #250 📍

[2021-05-05 07:48] minkesh commented on #228
@brainless @viksit I have raised the PR to integrate the changes done by @n3jain to support searching of medicines via covidconnect api. Now we have capability to search for required resources on twitter (previously it was a fixed hardcoded query).

[2021-05-05 10:21] karmakoder commented on #109
@Deep-Codes can we close it now? We can come back for Odia may be later?

[2021-05-05 11:22] tecnoder commented on #265
I can look into this issue

[2021-05-05 12:36] namanambavi opened #274 "Hide map marker if data isn't available"
**Describe the bug**
If the data isn't available on the marker. It shows blank info and is not helpful for the user. Infact, it can confuse some as well. Also in the marker popup which opens up, if we can give a link to click which opens Google Maps with these directions, that would be helpful

**To Reproduce**
Steps to reproduce the behavior:
1. Search for any category across any city
2. Click on

[2021-05-05 12:48] #265 closed

[2021-05-05 13:31] #274 closed

[2021-05-05 14:42] PallabiRoy27 commented on #239
For _potentially fraud_ - I have a list of such leads and can share them for the database.

[2021-05-05 14:52] chicksim commented on #239
Some suggestions:

1. Upvote downvote and Button fields for feedback may clash and confuse people. Upvote downvote doesn't give us granularity in the information - like why was it downvoted (not picking up? stock unavailable? wrong number? Invalid - doesn't deal with oxygen?)
2. For the above reason I prefer buttons. the flow should be:

Submit Feedback> (choose) 1. Available and Verified (helper

[2021-05-05 15:23] jitendraag opened #276 "Move all mandatory fields at the top (or left) of documents"
**Is your feature request related to a problem? Please describe.**
When I try to explain mandatory fields to data partners, it's often confusing for them to know that a field coming at position 15 is mandatory.

**Describe the solution you'd like**
I propose we change the order of fields in following page:
https://github.com/coronasafe/life/wiki/Life-Data-Structure
phone_1, district and state fiel

[2021-05-05 15:26] jitendraag opened #277 "Homepage UX suggestions"
**Is your feature request related to a problem? Please describe.**
People come to us to search for resources. .That should be the first and most important thing. Right now LIFE logo takes 1/3rd the space.

**Describe the solution you'd like**
We should increase the font of resource names (Medicines, Oxygen etc). We should reduce the font for "Verified Crowd Sourced Emergency Services Directory"

*

[2021-05-05 15:31] jitendraag opened #278 "Home page information hierarchy - Resource -> State"
**Is your feature request related to a problem? Please describe.**
Someone looking for resources for their family members will mostly select resource first and then choose the state (or in the reverse order)

Our website today has distractions along this 'most common user journey'

**Describe the solution you'd like**
1. Arrange the homepage so that users click on the resource first and then on st

[2021-05-05 15:35] jitendraag opened #279 "Default district selection for Andhra Pradesh is Anantpur"
**Describe the bug**
When I go to Andhra Pradesh page and want to see Twitter results the page is empty by default.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://liferesources.in/andhra_pradesh'
2. Click on 'Twitter'
3. See error

**Expected behavior**
By default 'all districts' should be selected and results for all districts should be shown

**Screenshots**
![Screenshot 20

[2021-05-05 16:02] Deep-Codes commented on #109
Keep it open there might be people making improvements/corrections to the existing ones 😅

[2021-05-05 16:02] shrihari689 commented on #277
Can you just give me some feedback on this UX? 📍 I just pushed a PR afternoon https://life-349fxz41m-coronasafe.vercel.app/ 📢

[2021-05-05 16:20] minkeshj commented on #228
https://github.com/coronasafe/life/pull/268

[2021-05-05 18:00] shrihari689 commented on #279
Resolved 📍

[2021-05-05 18:00] #279 closed

[2021-05-05 19:18] rakeshgunduka commented on #157
@shrihari689 @karmakoder
This feature of asking the user for their location is implemented in Maps Tab on results page.

@khuze can you share the use case for this feature?

[2021-05-05 19:19] rakeshgunduka commented on #136
@karmakoder I can take up this, as I have implemented distance calculation based on lat/ long values on Map Marker. I can have same for the card as well.

[2021-05-05 19:26] karmakoder commented on #136
assigned. lets get cracking.

[2021-05-05 19:31] karmakoder commented on #157
@rakeshgunduka even am struggling with the use case here. We do want users to come to home page and not go directly to the resource card. So this feature doesnt make too much sense for me to do as soon as someone comes to home page. May be we can have a user's district(based on browser location) automatically get set once a user picks the state?

[2021-05-05 21:53] #250 closed

[2021-05-05 21:57] bodhish opened #280 "Compute top 10 states and districts"
Write a python script that could pass through the V2 data and create the `data/top_states_and_districts.` file.

The logic can be simple. Count the number of resources in each district and state with the python script and write it to a JSON file.

This file can also be used for aggregating the summary data shown on the home page related to the data that is available.

[2021-05-05 23:24] Fayiz-A opened #281 "life-pipeline API doesn't work when accessing it from localhost"
**Describe the bug**
Related to [this issue](https://github.com/coronasafe/life/issues/188#issuecomment-831288931).
I got this error while trying to access the api url:
https://life-pipeline.coronasafe.network/api/resources?resource=SOMERESOURCE&state=SOMESTATE&district=SOMEDISTRICT as referenced on [this page.](https://life-pipeline.coronasafe.network/)

_**Note: **_  Replace the capital words wi

[2021-05-06 01:30] vd4mmind opened #282 "Query with the Oxygen Supply Data"
Hi,

Thanks for the wonderful data resources and for putting everything in the open source. We are interested in using the oxygen supply data (Central State Oxygen allocation) and we have the below queries:

1. How much vetted is this data?
2. In some of the states the Oxygen allocation metrics are missing, will this will be updated, or is this dynamic?

Kind regards,

VD

[2021-05-06 03:47] khuze commented on #157
The idea was that on the homepage, instead of someone having to pick a
state / city, basis of their current location, we could auto populate it.

On Thu, May 6, 2021 at 1:01 AM karmakoder ***@***.***> wrote:

--

Khuzema Siamwala
*CEO, Founder*
*Siam Computing <http://siamcomputing.com> , Hisabing
<https://hisabing.com>*
m: 9884832322
w: siamcomputing.com  e: ***@***.***
<https://twitter.com/khuze

[2021-05-06 05:16] shrihari689 commented on #281
Resolved via https://github.com/coronasafe/life-data/pull/6 📌

[2021-05-06 05:16] #281 closed

[2021-05-06 05:56] karmakoder commented on #157
@khuze can plz provide a sample screenshot of how home page cud look after this change? Thr is no auto population concept on homepage. If u autopopulate something u go on the stateslug page directly. Thr wont remain a homepage based on ur suggestion

[2021-05-06 11:07] shrihari689 commented on #280
Resolved as of https://github.com/coronasafe/life/commit/29f4ac85478472971c15a71d6bfd20a402a98e8a and https://github.com/coronasafe/life/commit/eead5cd6c510309f43e142f4700a8b9f0a49046f 📍
Now the Top States and Districts is dynamic 🚀

[2021-05-06 11:07] #280 closed

[2021-05-06 13:28] shrihari689 commented on #5
Resolved as of
https://github.com/coronasafe/life/commit/d45b2384ac8fe8ba57add89245969d5977f28c7f
📌

[2021-05-06 14:03] peeyush14goyal commented on #277
@jitendraag @shrihari689 We can also add a button like **My Location** . We can show that district and state data then person will only have to choose Resource. What do you say?

[2021-05-06 14:13] shrihari689 commented on #277
🤔 Yeah that will be good too. Linked to https://github.com/coronasafe/life/issues/157

[2021-05-06 14:18] peeyush14goyal commented on #277
@shrihari689 Is the current location feature already done?

[2021-05-06 15:16] aayushsaini opened #284 "[Semantic Bug] State or District's page does not opens up from search bar on click"
**Describe the bug**
State's or District's page does not opens upon clicking on the suggested cards when typing the name in search box

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home page: https://life.coronasafe.network '
2. Click on 'Search bar'
3. Enter the name of the state/district (e.g. type 'Chan' for 'Changlang')
4. Upon clicking on the suggested name cards for the typing

[2021-05-06 15:18] shrihari689 commented on #284
Is this happening for anyone else @coronasafe/life  😿?

[2021-05-06 15:38] arihant-2310 opened #285 "Theme button at navbar is not mobile responsive"
The theme button on the right of the navbar is not visible completely on small screen devices.

Steps to reproduce the behavior:
1. Go to https://life.coronasafe.network/ in mobile view.
2. Notice the theme button at the top right.
3. See an error

![image](https://user-images.githubusercontent.com/36256102/117325973-d968d200-aeae-11eb-923c-854ea5936520.png)

[2021-05-06 15:59] shrihari689 commented on #285
![image](https://user-images.githubusercontent.com/57325503/117329057-e1764100-aeb1-11eb-8bc9-0036b1761446.png)
 Resolved 🚀
Thank You @arihant-2310 🎉

[2021-05-06 15:59] #285 closed

[2021-05-06 16:00] shrihari689 commented on #277
I think its not completed @peeyush14goyal 📌

[2021-05-06 16:29] bodhish opened #286 "Paginate responses in state pages"
show 20/30 resources per page.

[2021-05-06 16:32] divyamangra commented on #284
unable to simulate:
OS: Windows 10
Browser: Chrome, Opera, Edge
version: Latest versions

[2021-05-06 17:11] aayushsaini commented on #284
Strange that it has occurred on both of windows & Mac laptop. I would give a final update regarding the same tomorrow.

[2021-05-06 17:52] shrihari689 commented on #276
Done with https://github.com/coronasafe/life/wiki/Life-Data-Structure 📍

[2021-05-06 18:48] jitendraag commented on #239
My recommendations below:
https://www.notion.so/jiten/COVID-resource-verification-methods-d89e7800b7064731933989086342b815

Only SOME partners are allowed to change verification status
+
[LifeResources.in](http://liferesources.in) and partners use an API (secret key) to mark things as 'verified and available' (Other options not available)

[2021-05-06 20:16] #136 closed

[2021-05-07 05:37] aayushsaini commented on #284
The bug still persist, I assume it is a device specific bug. I'll open a PR if it is otherwise solvable.
Thank you!

[2021-05-07 05:37] #284 closed

[2021-05-07 06:39] shrihari689 commented on #253
Fixed 📍🚀

1. Ordered according to Mandatory Fields ✅
2. Removed all internal fields ✅  But dumped `id`  column as `external_id`
3. It was from our spreadsheet data I think, because backend (`pincode`) has no issue. ✅
4. Somehow managed to show data as of our schema 📌 ✅
5. Done ✅

I also provided the schema on GitHub Issue comment. :pushpin:

🔴 Update: Our Master DB Spreadsheets has sheets accordin

[2021-05-07 06:39] #253 closed

[2021-05-07 06:45] shrihari689 commented on #276
Done with Spreadsheet (https://docs.google.com/spreadsheets/d/1I_V1K4pEoz1omlMaYC7tZScMYMlGAYBXzVpuvspws7E/edit#gid=0) too 🎉

Note: Since CSV is from backend, we could not update the order there 📍😿

[2021-05-07 06:45] #276 closed

[2021-05-07 16:06] jitendraag commented on #277
I like the new increased font size. But feel it could be even bigger. @shrihari689

[2021-05-07 16:12] jitendraag opened #288 "Add category, state, district, resource reference lists (import range possible) to generated Google sheet"
**Is your feature request related to a problem? Please describe.**
As exported Google sheet becomes popular, many volunteers will start using it. Currently when I add more value to a copy of this sheet, I don't see value validations.

**Describe the solution you'd like**
Add new sheets to exported Google sheet with reference data. It will be better to use 'import range' function instead of copying

[2021-05-07 16:56] jitendraag opened #289 "By default Oxygen resources are going to Food"
**Describe the bug**
When someone comes to website and clicks on state, they expect to see Oxygen by default but they end up seeing food resources.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://liferesources.in/'
2. By default Oxygen is selected
3. Click on 'Andhra Pradesh'
3. Scroll down to 'results
4. See error - All results are food related and NOT Oxygen related.

**Expe

[2021-05-07 17:02] jitendraag opened #290 "LinkedIn/Facebook sharing broken"
**Describe the bug**
Tried to share a resource on LinkedIn - The link says undefined.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://liferesources.in/andhra_pradesh'
2. Click on 'LinkedIn or Facebook buttons'
3. See error - https://www.linkedin.com/shareArticle?mini=true&url=undefined or https://www.facebook.com/sharer/sharer.php?u=undefined

**Expected behavior**
These shoul

[2021-05-07 17:09] shrihari689 commented on #290
Fixed 📍

[2021-05-07 17:09] #290 closed

[2021-05-07 17:30] shrihari689 commented on #289
📍 Fixed

[2021-05-08 04:22] n3jain opened #291 "Bugs in Delhi (NCT) flow"
**Describe the bug**
When I select Delhi (NCT) all there is no live twitter feed.
When I select West Delhi, there are no results
After that if I select any other region and there are results - error message No message still shows up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Delhi (NCT)
2. Click on Twitter
3. Select "West Delhi"
4. See error
5. Select "South Delhi"
6. Still see e

[2021-05-08 05:08] jitendraag commented on #291
I can confirm that the issue exists on Chrome Macbook too.

[2021-05-08 05:35] peeyush14goyal commented on #291
Error message for no results is when we do not have any in database result.

[2021-05-08 05:37] peeyush14goyal commented on #291
But there is a similar issue. If I select a district with database results after choosing a district with no database results then by default it renders current tab results only and shows error message
![image](https://user-images.githubusercontent.com/42883572/117527996-9a8d6600-afed-11eb-8d98-ea76654709fd.png)

[2021-05-08 05:39] shrihari689 commented on #291
@peeyush14goyal Doing this?

[2021-05-08 07:01] peeyush14goyal commented on #291
Sure

[2021-05-08 07:02] peeyush14goyal commented on #291
@n3jain @jitendraag @shrihari689 Please review #293. I have resolved the issue in this PR.

[2021-05-08 15:28] jitendraag opened #295 "Add a Google Analytics Goal event for people clicking on call / share links"
**Is your feature request related to a problem? Please describe.**
Currently, we don't know if any of our results are being used by people. How many calls are they making per session? Are they sharing?

**Describe the solution you'd like**
We should setup [custom goals](https://support.google.com/analytics/answer/1032415?hl=en) in Google analytics so that we understand our customers better.

**Des

[2021-05-09 03:04] ganeshsp1 opened #296 "Wrong Verified status"
**Describe the bug**
Website showing wrong verified data as below :
From API  :
{
      "state": "Maharashtra",
      "district": "Mumbai City",
      "state_id": "22",
      "district_id": "378",
      "data_name": "Verification App from Ruchika",
      "external_id": "179b6fcd-cc5c-4ab6-97e9-5d6a70a1809f",
      "data_id": "813",
      "category": "oxygen",
      "phone_1": "955454414",
      "i

[2021-05-09 09:49] raeesaa commented on #296
Can I look into this?

[2021-05-10 14:10] karmakoder commented on #295
@jitendraag that custom goals link is applicable for the older versions of GA. Newer one's documentation is accessible here : https://support.google.com/analytics/answer/7579450?hl=en&ref_topic=9266525
So far, I was able to get to the total number of clicks. Still trying to figure out how to get names or types of clicks:
![Screen Shot 2021-05-10 at 10 08 23 AM](https://user-images.githubuserconten

[2021-05-10 14:32] raeesaa commented on #296
I am getting following error when trying to run code locally.

![image](https://user-images.githubusercontent.com/4486873/117675844-92d6e880-b1ca-11eb-9630-733a0c37f810.png)

I followed the steps given in README file. Can someone guide me with this?

[2021-05-10 15:25] jitendraag commented on #295
Looks like custom events and goals are still here - https://support.google.com/analytics/answer/1033068

[2021-05-10 15:51] #286 closed

[2021-05-11 09:52] technoknol opened #297 "Duplicate tweets are being returned"
**Describe the bug**
Duplicate tweets are being returned, I think because of retweets.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://life.coronasafe.network/gujarat/surat
2. Click on Twitter
3. Scroll down and see all the tweets.
4. See screenshot attached.

**Expected behavior**
Retweets or Duplicate issues should not be shown.

**Screenshots**
![life coronasafe network_guja

[2021-05-11 13:53] ganeshsp1 opened #298 "API Issue - Resource type"
**Describe the bug**
There are 3 different resource type fields found through out the API and it's very inconsistent
               "resource type":"Oxygen - Refill"
               "resourceType":"Oxygen"
               "resource_type":""

**Expected behavior**
This is a critical field and should not be ambiguous, It should be uniform throughout

[2021-05-12 03:21] khavinshankar commented on #296
@raeesaa I fixed this issue, so please feel free to work on different issue.

[2021-05-12 03:21] #296 closed

[2021-05-18 06:54] bodhisha opened #299 "Districts not getting updated in frontend"
The districts mentioned below are present in the backend but are not updated on the frontend.
 - Tirupathur
 - Tenkasi
 - Kallakurichi
 - Chengalpattu

[2021-05-18 07:24] shrihari689 commented on #299
Added these districts as of now 📌 Can you please change in our General Structure too ? 🚀

[2021-05-18 08:17] bodhisha commented on #299
Done.. 👍

[2021-05-18 08:18] #299 closed

[2021-05-18 09:27] bodhisha commented on #299
Add these districts also @shrihari689

-   Jhargram
-   Purba Burdwan (Bardhaman)
-   Paschim Burdwan (West Bardhaman)

[2021-05-18 21:34] PallabiRoy27 opened #300 "Add Partner Logos"
On behalf of the Outreach Team at CRIA, I will share the partners' logos over here - kindly add them to our website, thank you!

Utpal Kant from INDIA Vs COVID Team:
![logo](https://user-images.githubusercontent.com/72238425/118726420-eb535900-b84e-11eb-9a60-ee2ce054793b.png)
![logo](https://user-images.githubusercontent.com/72238425/118726425-ec848600-b84e-11eb-9e04-d22006616545.jpg)

[2021-05-18 21:38] PallabiRoy27 commented on #300
Covid Asha Logo:
![CovidAsha logo 2](https://user-images.githubusercontent.com/72238425/118726803-75032680-b84f-11eb-91b6-37c8e3cc4709.png)

[2021-05-18 21:44] PallabiRoy27 commented on #300
West Bengal Covid Aid Network:
https://scontent.fdel1-1.fna.fbcdn.net/v/t1.6435-9/184079612_4207157899336503_1798879946805997150_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=8631f5&_nc_ohc=K7Kt-ga9EpoAX-qYThi&_nc_oc=AQltDPMkeICNoMmXBAGnowQYK_IZ6R8AXRTEijcTjr85wI3WhIZ0TRtR0LgT9V9MPjE&_nc_ht=scontent.fdel1-1.fna&oh=5fd687b6ee3136dcf585381b84195047&oe=60C88C88

[2021-05-18 21:51] PallabiRoy27 commented on #300
Child Rights and You:

![](https://pbs.twimg.com/profile_images/1343879794317008901/JNmSq5JF_400x400.png)

[2021-05-19 04:37] shrihari689 commented on #300
Updated Partners Listing 📌

It could be good if we get the website url/fb group url/or some page referring them too 😋
I searched for them and couldn't find it 📍
 I found these two 😁 but need some reference URLs for the first two 🔥

      'West Bengal Covid Aid Network',
         url: 'https://www.wbcan.org/'

     'Child Rights and You',
         url: 'https://www.cry.org/'

[2021-05-19 07:09] PallabiRoy27 commented on #300
Haha, sorry, check this out:
https://about.liferesources.in/cria/partners-involved

[2021-05-19 07:10] PallabiRoy27 commented on #300
Name: The Skill Bridge
Website: https://www.theskillbridge.org

Co-Founders:
Shivi Sharma
Utsav Shah

![logo](https://user-images.githubusercontent.com/72238425/118770817-65133300-b89f-11eb-9ddc-b849ea003814.png)

[2021-05-22 09:43] smartclash opened #301 "integrate feedback API and collect feedbacks"
A feedback collection API has been deployed at [life-pipeline](https://life-pipeline.coronasafe.network/api/feedback) from [life-data](https://github.com/coronasafe/life-data) and needs to be integrated into this project. Checkout it's [documentation](https://github.com/coronasafe/life-data/wiki/Feedback-API)

The user will be allowed to choose one of many feedback choices provided by the API and

[2021-05-22 09:46] PallabiRoy27 commented on #300
![image](https://user-images.githubusercontent.com/72238425/119222173-a2322c00-bb10-11eb-890c-c57f65ca9d64.png)

http://chikitsatrust.org/

[2021-05-22 12:35] shrihari689 commented on #300
Feel free to add here @PallabiRoy27  🚀
Just an update: Added ✅

[2021-05-23 08:10] smartclash commented on #301
Anyone good with frontend, do ping and pair up with me if free. Would love a helping hand :wink:

[2021-05-23 12:11] brainless commented on #301
@smartclash I can pair up with you, have React/Tailwind experience.

[2021-05-24 08:41] PallabiRoy27 commented on #300
![IMG-20210523-WA0014](https://user-images.githubusercontent.com/72238425/119321087-e4d34000-bc99-11eb-9acc-4d6c3819883b.jpg)
Name of Organisation: Biosphere
Description of Organisation: NGO working with procurement of oxygen, beds, medicines, meals, etc.

[2021-05-24 08:43] PallabiRoy27 commented on #300
![MainLogo-Stacked](https://user-images.githubusercontent.com/72238425/119321352-2d8af900-bc9a-11eb-86a1-c37b8bdaf95c.png)
![MainLogo-Horizontal](https://user-images.githubusercontent.com/72238425/119321356-2ebc2600-bc9a-11eb-9f57-206f9c5e5653.png)

www.factchecker.in

[2021-05-24 09:55] PallabiRoy27 commented on #300
[Covid Relief India Alliance (CRIA).pdf](https://github.com/coronasafe/life/files/6531440/Covid.Relief.India.Alliance.CRIA.pdf)

@shrihari689 can you have a look at the partners slide in this deck and add all those logos to our website?
Thanks!

[2021-05-24 10:13] PallabiRoy27 commented on #300
blob:file:///a8bf88ea-bf00-4dc4-8bf6-c7206a8c4d8a

https://instagram.com/medneed_india?igshid=1co8h75brts4a

[2021-05-24 17:03] #301 closed

[2021-05-24 19:19] bodhisha opened #303 "Missing Districts"
The sheet attached contains a list of districts that are missing.

https://docs.google.com/spreadsheets/d/1MIPmnZtvD0dn7P2z6iIMaMNcuazBADdY-eBwhFc69qM/edit#gid=0

[2021-05-24 20:11] #303 closed

[2021-05-25 02:43] PallabiRoy27 commented on #300
![GVAN Logo](https://user-images.githubusercontent.com/72238425/119431914-0c291c00-bd31-11eb-9ed9-f8219de488b9.png)

LinkedIn: @gvanindia
Facebook:@globalvolunteersactionnetwork
Instagram: @gvanindia
Website: globalvolunteersactionnetwork.in

[2021-05-25 03:49] PallabiRoy27 commented on #300
![image](https://user-images.githubusercontent.com/72238425/119433933-cff7ba80-bd34-11eb-905b-f6e7ade80108.png)

verifiedcovidleads

[2021-05-25 04:02] PallabiRoy27 commented on #300
![WhatsApp Image 2021-05-25 at 09 23 18](https://user-images.githubusercontent.com/72238425/119437607-20bee180-bd3c-11eb-8b7e-b187cb41f590.jpeg)

https://rapidleads.glideapp.io/

[2021-05-28 03:56] PallabiRoy27 commented on #300
@shrihari689 apologies for the inconvenience but the organisation doesn't want their logo to be added. Could you kindly take it down? Thank you :)

[2021-05-28 04:07] shrihari689 commented on #300
Cool 🚀 No problem @PallabiRoy27 🎉
Updated ✅

[2021-06-01 13:52] #58 closed

[2021-06-01 13:52] #239 closed

[2021-06-01 13:52] #255 closed

[2021-06-03 17:11] shrihari689 commented on #291
Resolved via #293 📍

[2021-06-03 17:11] #291 closed

[2021-06-09 17:40] balrajsingh9 commented on #159
Just a small update: I couldn't focus on this issue rn as I've exams going on. After next week, I will prioritize my time on this issue.

Cheers 💪

[2021-06-18 10:13] PallabiRoy27 commented on #300
1) DigiSwasthya Foundation
linktr.ee/DigiSwasthya
https://www.instagram.com/p/CPpztkZhsci/?utm_medium=copy_lin
www.digiswasthya.org

2) India Observatory - FES
Logo links to: https://www.indiaobservatory.org.in/
POC: Deborah Thomas
Email ID: deborah@fes.org.in
Profile: http://www.iic.uchicago.edu/deborah-thomas or https://www.linkedin.com/in/deborah-thomas/

Contribution at CRIA: database (we're c

[2021-06-18 10:42] shrihari689 commented on #300
Added 🚀
Will be live in 5 mins ⏰
https://liferesources.in/partners